[2017-06-02 17:01] meets2tarun opened #1 "Template designing"
We need various templates for the website.
We will refer to this issue.

[2017-06-02 22:23] xeon-zolt opened #2 "Setup Heroku"

[2017-06-03 02:19] meets2tarun commented on #1
about.html is to be made

[2017-06-03 02:41] meets2tarun commented on #1
index.html and 404.html added
https://github.com/Meilix-Generator/meilix-generator/commit/ee15e23daf4301f0959b4b55392b9333d6a2d8f3

[2017-06-03 02:49] meets2tarun opened #4 "Add continuous Integration Tests"
Add Continuous Integration tests would really help the community to check for errors and improve code quality so I recommend to add:
- [ ] Travis
- [ ] Codacy

[2017-06-03 02:51] meets2tarun opened #5 "Add a LICENSE"
There are lots of licenses but the issue is to decide among the appropriate one and implement that.

[2017-06-03 08:43] xeon-zolt commented on #5
gpl

[2017-06-03 08:59] #2 closed

[2017-06-03 23:41] xeon-zolt opened #6 "404 page not working"
https://github.com/Meilix-Generator/meilix-generator/blob/master/app.py/#L15-L18

this is not working
[code]
but this is working
[code]

[2017-06-04 02:47] meets2tarun opened #7 "Button to redirect the iso for the build"
Button `Build` should redirect for the building of the iso image.

[2017-06-04 15:22] meets2tarun commented on #6
Would you please tell me the way to reproduce the error?

[2017-06-04 16:00] xeon-zolt commented on #6
Have you ran the current code
Is 404 page working ?
No its not

[2017-06-04 16:02] meets2tarun opened #8 "Logo for meilix-generator"
We need a logo for the meilix-generator

[2017-06-04 16:04] xeon-zolt commented on #8
current one is ok i think

[2017-06-04 16:16] xeon-zolt commented on #8
![18982333f8d0191fe1bf2f723c7719b4](https://cloud.githubusercontent.com/assets/4529442/26763336/fa3e4c2a-496e-11e7-8e9f-735154fac36a.jpg)

[2017-06-04 16:16] #8 closed

[2017-06-06 05:04] xeon-zolt opened #11 "/yield working locally but not on heroku"
i think we are missing somthing in requirements file

[2017-06-06 05:04] #6 closed

[2017-06-07 16:20] mariobehling commented on #5
Please use the same license as the meilix repo: GNU Lesser General Public License v3.0

[2017-06-08 03:53] #11 closed

[2017-06-08 16:03] xeon-zolt commented on #7
@meets2tarun its working now using travis CI
now we should work on providing the iso to user

[2017-06-08 16:06] xeon-zolt opened #13 "how to Provide the ISO built by travis to user ?"
we can create the iso created as new release on github or upload it somewhere when it is built successfully
the question is how to provide the download link

[2017-06-08 16:08] niccokunzmann commented on #13
This webpage downloads the latest iso build using the github api. Maybe it is useful to look at:
https://github.com/niccokunzmann/download_latest

[2017-06-08 16:25] #5 closed

[2017-06-08 16:33] xeon-zolt opened #15 "Deployment on heroku after repository transfer"
Deployment can only be done by an admin on heroku only

and we need a travis test #4 too for auto deployment

[2017-06-08 17:01] meets2tarun commented on #13
https://travis-ci.org/meets2tarun/meilix/builds/240846208#L8620

I used my token in the meets2tarun/meilix (forked from fossasia/meilix) in Travis and .travis.yml
Build executed successfully but it's not deploying.

[2017-06-08 17:14] niccokunzmann commented on #13
We can also create our own service for upload. Github may be very slow in downloading.

[2017-06-08 17:16] niccokunzmann commented on #13
https://docs.travis-ci.com/user/deployment/custom/#FTP

[2017-06-08 18:09] meets2tarun commented on #13
https://github.com/fossasia/meilix-generator/issues/13#issuecomment-307165117
Issue solved
We get the iso here https://github.com/meets2tarun/meilix/releases/tag/untagged-63303c098a3896dd120a
https://travis-ci.org/meets2tarun/meilix/builds/240886366#L8630

Now I can provide my token in fossasia/meilix
https://github.com/fossasia/meilix/issues/53

[2017-06-09 03:17] meets2tarun opened #17 "Strategy for setting wallpaper as the background"
There will be a upload button on the webapp where the user can upload their wallpaper which he wants to set it as the default background on the desktop of the iso build.
Ideas to implement this?

[2017-06-09 03:43] xeon-zolt commented on #17
already built file by using it here
https://github.com/xeon-zolt/meilix/blob/master/build.sh#L27-L28

and my doubt is do we need to keep the file name same or can it ve different from wallpaper

![plan](https://user-images.githubusercontent.com/4529442/26960252-603d017e-4cf3-11e7-8f8c-d9ab6a6f6aa9.png)

[2017-06-09 05:33] abishekvashok commented on #17
IMO, don't make a github release for each build, you can mail directly from Travis.

[2017-06-09 05:34] abishekvashok commented on #13
IMO, don't make a github release for each build, you can mail directly from Travis.

[2017-06-09 05:40] xeon-zolt commented on #13
@abishekvashok you mean mail 1.4 GB iso file to user ?

[2017-06-09 05:57] abishekvashok commented on #13
No that won't be possible.

[2017-06-09 05:58] abishekvashok commented on #13
I was thinking of making a mail from Travis with a link to the artifact.

[2017-06-09 08:54] meets2tarun commented on #17
@abishekvashok  Why do you think that it's not better to make a Github release of each build?

[2017-06-09 08:58] meets2tarun commented on #17
If I change the wallpaper on this location
https://github.com/fossasia/meilix/tree/master/meilix-default-settings/usr/share/meilix/images
 **Question is:**
- [ ] The wallpaper gets changed?
- [ ] The location matter or filename of the wallpaper too matters?

[2017-06-09 10:28] medicalwei commented on #13
Another idea is that we may ask permission of the user's cloud storage account like Dropbox. And if finished generating ISO, we call an API to Dropbox to send the ISO to their account.

However this may become service-dependent for the user. Despite of that I don't have other idea without spending money for a storage service.

[2017-06-09 10:32] abishekvashok commented on #17
Filename matters as well

[2017-06-09 10:33] abishekvashok commented on #13
That seems to be a good idea.

[2017-06-09 10:35] meets2tarun commented on #13
This is quite complicated since it requires the user to have a Dropbox account and sufficient space in it too.

[2017-06-09 10:36] meets2tarun commented on #17
Filename is `xp_default_wallpaper`
which is not good at all.
Is there a way to change it and get the picture under that location as the wallpaper?

[2017-06-09 10:38] abishekvashok commented on #17
Well see build.sh

[2017-06-09 10:39] abishekvashok commented on #13
Maybe, you could ask the user if he has any cloud account like Dropbox, google cloud, on drive etc.

[2017-06-09 10:41] meets2tarun commented on #13
@abishekvashok

Does this possible since Travis is not sending a direct email to the user of the build only send the notification of failure and success?

[2017-06-09 10:49] abishekvashok commented on #13
Yes

[2017-06-09 10:50] meets2tarun commented on #13
How?

[2017-06-09 10:52] abishekvashok commented on #13
http://michaelthessel.com/mock-mail-setup-for-travis-ci/

[2017-06-09 10:57] meets2tarun commented on #13
Using this technique: will not make a GitHub release of the build and where will it upload the build before sending the mail to the user?

[2017-06-09 11:09] abishekvashok commented on #13
I mentioned to either use artifacts, (to AWS) or any other cloud. However, it might cost money. I agree with what @medicalwei suggesed to use user's dropbox or other cloud account.

[2017-06-09 11:10] meets2tarun commented on #13
What do you say if I say for the time being to get the link of the iso to the user:
Since my build exited successfully it deployed my iso as a draft here: https://github.com/meets2tarun/meilix/releases/tag/untagged-63303c098a3896dd120a
Now the task is to find a way to mail the user this link: https://github.com/meets2tarun/meilix/releases/download/untagged-63303c098a3896dd120a/meilix-zesty-2017060

[2017-06-09 12:34] abishekvashok commented on #13
@meets2tarun well it's all your choice, what I am giving was suggestions to make it look and work more professionally.

[2017-06-09 16:01] xeon-zolt commented on #17
@abishekvashok nothing related to wallpaper name in build.sh

[2017-06-09 16:47] niccokunzmann commented on #17
![](https://user-images.githubusercontent.com/4529442/26960252-603d017e-4cf3-11e7-8f8c-d9ab6a6f6aa9.png) looks good to me. I think, this can work.

[2017-06-09 16:55] niccokunzmann commented on #13
**Email**: It is possible to send an E-Mail with Python. https://docs.python.org/2/library/email-examples.html.
- The username and password can be encrypted by travis, so an email cloud be sent from there.
- Sending could also be done in the heroku app.

If you create tags for the build of the user, you know the link before the build and you do not need to send it.

[2017-06-09 17:04] niccokunzmann commented on #17
Also an idea:
![grafik](https://user-images.githubusercontent.com/564768/26985922-e29ebe12-4d45-11e7-851b-b048f8dfc32d.png)

1. Heroku creates a tag [using the api](https://stackoverflow.com/questions/15672547/how-to-tag-a-commit-in-api-using-curl-command#15678196)
2. The travis build knows its tag and downloads the config
3. as was before

using tags means that you can know the iso name before th

[2017-06-10 01:51] xeon-zolt commented on #17
deployed a test app with wallpaper upload and initiate build
meilix-generator-test.herokuapp.com
and after upload the wallpaper link is
meilix-generator-test.herokuapp.com/uploads/wallpaper

[2017-06-10 01:54] xeon-zolt commented on #17
### now 2 things for this
do wallpaper in melix dependent on name xp_default_wallpaper
and are we gonna change the master branch of meilix or create a new branch as build.sh required to be edited
a new branch is better idea according to me

[2017-06-10 02:13] meets2tarun commented on #17
Question: This will send the uploaded wallpaper to this location with the name of the wallpaper uploaded https://github.com/fossasia/meilix/tree/master/meilix-default-settings/usr/share/meilix/images

[2017-06-10 04:00] meets2tarun commented on #17
for testing purpose, we can first test in forked repo then will think to go for a new branch (may be).

[2017-06-10 04:16] #15 closed

[2017-06-11 02:37] xeon-zolt commented on #17
yes it will upload image here with the name wallpaper

can you tell me about wallpaper name question after test already doing it in forked repo

[2017-06-11 10:05] meets2tarun commented on #13
This is a good idea and we have worked on the same approach, we created a tag from user input end, but it only conflicts if two users end up with the same tag on the very same day, then deployment skips.

[2017-06-11 13:50] #7 closed

[2017-06-12 04:20] meets2tarun opened #19 "Webapp sometime can't fetch the tag and email info"
Webapp sometime can't fetch the tag and email informaion

[2017-06-12 04:22] meets2tarun opened #20 "Make a link of the iso"
We created the iso link but the link is not as a hyperlink.

[2017-06-12 04:33] xeon-zolt commented on #19
the bug has not yet been merged lets solve it before that

[2017-06-12 04:46] xeon-zolt commented on #20
by yield method it will not be as hyperlink

[2017-06-12 12:45] xeon-zolt commented on #13
#21 this will export event name as a tag for the release on github so we are also able to predict the link that will be active once iso is released

[2017-06-13 03:16] meets2tarun commented on #17
We are almost done with the implementation, just remaining is to test it after an install or live boot.

[2017-06-13 03:18] meets2tarun commented on #13
We are able to give the user the link of the iso for the time being using https://github.com/fossasia/meilix-generator/issues/13#issuecomment-307361918. It would be much better if we can implement a mail feature since Travis isn't supporting export of email as an environment variable.

[2017-06-13 03:19] meets2tarun commented on #19
Through validation, we aren't able to solve the issue.
For the time being, we are releasing the prototype of the webapp.

[2017-06-13 03:23] meets2tarun opened #22 "More features to add up in the webapp"
We are almost ready with the webapp who can build the iso for us with a single user configuration(wallpaper) within 20 minutes.
So the idea is to implement more features :
- [ ] metapackages
- [ ] desktop environment choice
- [ ] text editor
- [ ] browser
- [ ] office
- [ ] media player
We need more ideas on this topic, then we will add it here.

[2017-06-13 03:28] meets2tarun opened #23 "Custom DNS for webapp"
Now the webapp is hosting on Heroku here https://melix-generator.herokuapp.com/  which is owned by @xeon-zolt.
We will transfer the ownership of the webapp to FOSSASIA as an organization accounts of Heroku which are currently available in Heroku Enterprise.
So after this, a custom DNS would be favorable for more professional use.

[2017-06-13 03:30] meets2tarun opened #24 "Increase of dyno of Heroku"
Heroku comes up with new dyno which is used to start the webapp. Heroku assign one dyno to normal accounts. One dyno generally gets shut down after few minutes of inactivity and took a look time to restart.
So however if we increase the number of dyno of the webapp that would be great.

[2017-06-13 03:38] meets2tarun opened #25 "Home page improvement"
Below are some of the features which we are thinking to implement on the homepage of the webapp
- [ ] List of all the iso which has been build till yet (this will help the new to have an idea about the pre-build and can even choose a build within those)

[2017-06-13 03:40] xeon-zolt commented on #25
how do you plan to fetch all the Releases ?

[2017-06-13 03:45] meets2tarun commented on #25
We will not fetch the release. The idea is to just show the user the pre-builds with the configuration. And user chooses that build and get the link to it. So it will help the user and if his needs satisfied, he doesn't have to make a build again.

[2017-06-13 03:54] xeon-zolt commented on #25
what about wallpaer its event specific thing
i am confused about your idea now , it's not clear

[2017-06-13 04:08] meets2tarun opened #26 "To get rid of Github Release"
For the time being, we are going with the GitHub release, but it has several disadvantages like slow downloading speed, increasing the unnecessary load on GH server (since we can't even delete the older builds). We need ideas to deploy our build to the new server from where we can have even more control over the generated iso (can delete it) and downloading speed will also improve.

[2017-06-13 04:10] meets2tarun commented on #25
No, one can use wallpaper for its own specific purpose also.

[2017-06-13 04:14] xeon-zolt commented on #25
then what is that you mean by pre build with conf ?

[2017-06-13 04:19] meets2tarun commented on #25
It means the iso' which were previously built with their some specific configuration.

[2017-06-13 04:22] meets2tarun commented on #20
On yield page, it can't be possible
so closing this for now.

[2017-06-13 04:22] #20 closed

[2017-06-13 04:22] xeon-zolt opened #27 "to show user the link to his build"
we are already able to predict the link with the tag name and date but when user submits the selected conf. for building the link is generated but its not active as it would take around 20 minutes for build to get released so we can make a page where it checks status of link which will be 404 so it will show user building status and after 20 minutes the status of link is 200 at that time we can sh

[2017-06-13 05:10] xeon-zolt commented on #23
Redeployment can also be done

On 13-Jun-2017 10:32 AM, "Tarun Kumar" <notifications@github.com> wrote:

[2017-06-13 07:20] niccokunzmann commented on #23
My thoughts: If you are sure which domain name to take and how todo it,
you can get a fossasia domain name, I assume. Strategically, this can be
one of the last steps and can be used as an official launch of a beta
phase in the second coding phase of GSoC. It shows: "We are live, it is
working now, use us. Give feedback and join our development."

On 6/13/17 5:28 AM, Tarun Kumar wrote:

[2017-06-13 10:34] meets2tarun opened #28 "Bug fix [Urgent]"
This issue will take care of the issue #19
Now one can initiate the build by directly going to this page https://meilix-generator-test.herokuapp.com/yield and the build will get started and now we have to fix this that one cannot go to this page directly unless until with a tag and email address.

[2017-06-13 10:38] meets2tarun opened #29 "Yield page keeps on loading"
The issue is that the https://meilix-generator-test.herokuapp.com/yield after triggering the build stays in loading phase means the circle of loading on tab keeps on rotating.

[2017-06-13 15:41] xeon-zolt opened #30 "prediction of url need to be fixed"
predicted url depends on event name but if event name have a space then predicted url have space so we need to fix the predicted url

[2017-06-13 15:54] meets2tarun commented on #30
URL can't have space in between, it's sure and we are using tag name as event name which is going to be a part of the URL. So better idea is to ask the user to put the event name in the form of continuous text with no special elements.

[2017-06-13 15:59] xeon-zolt commented on #30
why should we ask user for such a thing it can be fixed easily as the url generated by tags with spaces is a problem cause tags cannot have spaces we can edit the tags(Event name) and replace a space with a dash '-'and then pass it to url generator which fix the things

[2017-06-13 17:00] meets2tarun commented on #30
Then what will literally the use of asking the event name from the user if we are going to manipulate it? Neither the event name will be going to show as the name of the build or anywhere else.
Rather straight forward we can ask the user for the name which they want as a tag of the build.
That's my opinion.

[2017-06-13 18:09] xeon-zolt commented on #30
it's a condition only we are not manipulating the event name just to replace space with a dash in TAG_NAME variable to be able to generate a link that works
`Rather straight forward we can ask the user for the name which they want as a tag of the build.`
we are taking event name to generate tag for the release so the condition in tag name is of no spaces so we generate tag from event name , we are

[2017-06-13 18:42] meets2tarun opened #33 "Shifting from personal build of Heroku and Travis to FOSSASIA"
Till today we are using personal Heroku account and our user/meilix (forked) repo to build the webapp.
Now since the prototype is ready we can shift both of the builds to Heroku and Travis.

- [ ] For Heroku, we need an organization account of FOSSASIA.
- [ ] For Travis, we need an API token while login into [it](https://docs.travis-ci.com/user/triggering-builds/), which token will be stored in th

[2017-06-14 04:40] meets2tarun commented on #30
ok, we can replace space with a dash (-) and what about other symbols which user can use like underscores(_) and other special characters. Are we going to put a condition for all this to replace it or going to put a condition in the event-name input?

[2017-06-14 04:45] xeon-zolt commented on #30
why put condition on other symbols ?

[2017-06-14 04:51] meets2tarun commented on #30
As I mention, a user can also use other symbols other than dash (-) as a event name.

[2017-06-14 04:55] xeon-zolt commented on #30
so what is the problem in that ?

[2017-06-14 05:15] meets2tarun commented on #30
What I mean here is that we are only including space but not` _, -,%,*`,not such characters.
We have to put a note near event-name which tells user that event name should be in the format of `alphanumerical characters from number [1-20] including spaces only and none other characters.`

[2017-06-14 05:25] xeon-zolt commented on #30
That is part of validation  which is  part of form and a JavaScript alert can be generated for that .
Logical question
Do event name have symbols ?

[2017-06-14 06:14] niccokunzmann commented on #30
Usually, the server validates the input since one can use the API
without the web page (hacker). Validation on client side is a feature
for the user.

But: before you discuss to much: This feature does not contribute to a
prototype in my eyes, it is one line of code in the server. You can
discuss this but please relate the time you discuss to the time it takes
to fix the problem.

This can also be

[2017-06-14 12:29] yashLadha commented on #27
I would like to work upon it. Assign me this Issue @xeon-zolt .

[2017-06-14 12:51] meets2tarun commented on #27
@yashLadha Feel free to contribute to project and ask if you feel in any problem.
Start working, commits and PR will take care of your contribution and work.

[2017-06-14 12:52] yashLadha commented on #27
Is there a collision of PR if someone other send a PR for it. Or a Policy to work on issue is there ??

[2017-06-14 12:53] niccokunzmann commented on #27
I think, other people working on this will know because you commented and will ask here if they want to work on it, too. You will get notified, I believe.

[2017-06-14 12:54] yashLadha commented on #27
Ohh thanks..working on patch ASAP.

[2017-06-14 12:55] abishekvashok commented on #27
That's one of the best practises applicable world wide as niccokunzmann mentioned @yashLadha. Notify on the issue you are working on.

[2017-06-14 12:58] abishekvashok commented on #13
@meets2tarun there's a workaround in Travis to send emails, i believe.

[2017-06-14 13:11] yashLadha commented on #27
It is showing me
[code]
When i tried to buid an image file. Is there are other instructions to be done other than mentioned in README.

[2017-06-14 13:25] meets2tarun commented on #13
@abishekvashok Please let us know the way by which we can implement the same.
What I find is: https://github.com/travis-ci/travis-ci/issues/6094#issuecomment-233047531

[2017-06-14 14:06] abishekvashok commented on #13
I did it once years ago, with this tut: http://michaelthessel.com/mock-mail-setup-for-travis-ci/

[2017-06-14 15:29] hatimak opened #34 "Make user waiting pleasant"
**Experience**
@meets2tarun requested I try out his test deployment. I submitted a wallpaper on the test Heroku app. Received a response containing the download URL. I was told to wait 20 min for it to get ready. Navigating to the link took me to GitHub's 404 page.

**Suggestion**
I understand this is a test deployment so it will have rough edges. Here are my suggestions for later releases -
- Not

[2017-06-14 16:24] meets2tarun opened #35 "gif should be removed"
https://github.com/fossasia/meilix-generator/blob/master/app.py#L9
Line accepting gif as an input for the wallpaper which should be removed.

[2017-06-14 16:26] meets2tarun opened #36 "Readme Improvement"
Readme should be improved to get the new developer get introduced to the project easily and can easily run the generator locally as well as on Heroku.

[2017-06-14 16:35] meets2tarun commented on #30
@xeon-zolt https://github.com/xeon-zolt/meilix-generator/blob/url-test/app.py#L35
Is this solving the issue?

[2017-06-14 16:38] xeon-zolt commented on #30
yes i have tested it and i have seen that you already copied that part in the new pull request but it will only replace a single space so if user insert two spaces he will encounter two dash
we can close it as that pull request gets merged

[2017-06-14 16:42] meets2tarun commented on #30
Since because I was testing it but when deploying it, it's not working.

[2017-06-14 16:45] xeon-zolt commented on #35
lets remove it in PR #32

[2017-06-14 16:46] meets2tarun commented on #35
Sure

[2017-06-15 01:43] xeon-zolt commented on #27
@yashLadha  #36 yes there are steps  will add them today to readme

[2017-06-15 02:55] meets2tarun opened #37 "Rename the meilix generator name"
Typo is there in the name of the generator. Please correct it to meilix-generator in the Heroku dashboard setting.
https://dashboard.heroku.com/apps/melix-generator/settings

[2017-06-15 02:58] xeon-zolt commented on #37
i did that for beta test
so that the original correct name is available when heroku is recreated in by fossasia account

[2017-06-15 03:00] xeon-zolt commented on #36
@meets2tarun i need comments and suggestions for

https://github.com/xeon-zolt/meilix-generator/tree/update-Readme

[2017-06-15 03:01] meets2tarun commented on #37
Or we will transfer the ownership of the app rather than asking them to create one then there would be no issue on the name?

[2017-06-15 03:04] xeon-zolt commented on #37
updated

[2017-06-15 03:04] #37 closed

[2017-06-15 03:06] meets2tarun commented on #37
Thanks @xeon-zolt

[2017-06-15 03:08] xeon-zolt commented on #37
you said your dictionary dont have those words

[2017-06-15 03:10] meets2tarun commented on #36
That looks nice but if we focus on the ways to deploy on the various platform then that would be better.

[2017-06-15 03:18] meets2tarun opened #38 "Proper Template for issue and PR request"
We need a well-designed template for issue and PR request which enables one to describe an issue and a PR in a more descriptive manner.

[2017-06-15 04:03] xeon-zolt commented on #30
test it now --> https://meilix-generator-test.herokuapp.com/
created a function for urlifying the travis tag
check [commit](https://github.com/xeon-zolt/meilix-generator/commit/d2e7e0230ca85971cafd836741419a7edb1bf6d8)

[2017-06-15 04:09] meets2tarun commented on #30
Yes, it working now
@xeon-zolt Make a PR of your commit.

[2017-06-15 04:10] abishekvashok commented on #34
I don't think that's possible.

[2017-06-15 04:36] xeon-zolt commented on #28
the build will fail and link he gets is also wrong

[2017-06-15 04:38] meets2tarun commented on #28
But the issue is that it will trigger Travis unnecessarily

[2017-06-15 06:26] yashLadha commented on #27
All right them...should i add a progress bar which waits until it get a 200
reponse for the download link????

On 15 Jun 2017 7:13 am, "Harsh Lathwal" <notifications@github.com> wrote:

[2017-06-15 06:41] xeon-zolt commented on #27
@yashLadha it will be nice and in my fork you can find the script that checks the status

[2017-06-15 07:31] yashLadha opened #40 "Add .gitignore"
We should have .gitignore files for ignoring the contents of virtualenv and also python compiled files. Views @meets2tarun @xeon-zolt

[2017-06-15 07:58] yashLadha commented on #27
@xeon-zolt, how about this code
[code]

[2017-06-15 08:09] yashLadha commented on #27
We can have a loading progress bar.. like in many online converter services for media formats.

[2017-06-15 08:34] #40 closed

[2017-06-15 17:09] yashLadha opened #44 "Fixed script for url_testing"
Needs fixing in the script for url testing.

[2017-06-15 19:35] yashLadha opened #47 "Broken Pipe Error Message"
Broken Pipe error message pops up whne handling some large console outputs.

[2017-06-15 19:35] yashLadha commented on #47
I would like to work on the Patch.

[2017-06-16 02:35] meets2tarun commented on #47
@yashLadha Go for it

[2017-06-16 04:02] #35 closed

[2017-06-16 04:02] #30 closed

[2017-06-16 09:13] #38 closed

[2017-06-16 09:13] #36 closed

[2017-06-16 09:28] #28 closed

[2017-06-16 09:35] meets2tarun opened #51 "Clicking the build redirects to home page"
I'm submitting a:
- [x] bug report

**Actual Behaviour**
The issue is that this [line](https://github.com/fossasia/meilix-generator/pull/48/files#diff-3f41e546893dc64b71aaacad12cad815R63) actually redirect to home (index.html) unless it fetches the TRAVIS_TAG, so if it is unable to fetch (TRAVIS_TAG), the index page loads again. In such case, the clicking the build button redirect you to index.htm

[2017-06-16 15:51] meets2tarun opened #53 "One click Heroku app deployment button"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
A button for one click Heroku app deployment

[2017-06-16 16:56] yashLadha opened #54 "Unable to send url request on heroku"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

I am trying to build a url_testing script for testing the status of build url at regular interval of time. To check the progress. For that i

[2017-06-18 04:09] meets2tarun opened #56 "Choice for setting up Desktop Environment"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Since now we are done with setting up of wallpaper, then it's time to build a choice for the user to choose their desktop environment.

**Ex

[2017-06-18 14:17] niccokunzmann opened #57 "Python Package Version Pinning"
- [X] bug report
- [X] feature request

If we want to install the program in one year in the uture, the required packages should be pinned to assure that the API changes in the installed packages do not break the program.
Further Reading: https://github.com/AllYarnsAreBeautiful/ayab-desktop/issues/56

Suggestion:
- You can use the package pip-tools to pin the versions of all packages and those pac

[2017-06-18 15:23] #47 closed

[2017-06-19 04:45] xeon-zolt commented on #27
if the build is already present with the same tag it will show status as 200 and display the link of older build

[2017-06-19 14:05] meets2tarun commented on #4
@mariobehling  Sir, Please enable codacy check for fossasia/meilix-generator from here
https://www.codacy.com/app/fossasia/meilix-generator

[2017-06-19 18:13] xeon-zolt commented on #22
no it should not be like this
it should be more like what kind of event you want distro for , is it for presentations or music

[2017-06-20 19:02] meets2tarun opened #59 "Use of Github API"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Now we are predicting the URL and giving it the users and also facing the intermediate problem of the inactivation of URL in between the bui

[2017-06-20 19:18] meets2tarun opened #60 "Heroku Deployment by Travis"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Travis is unable to deploy the web app on Heroku successfully due to [token error](https://travis-ci.org/fossasia/meilix-generator/builds/24

[2017-06-20 19:24] xeon-zolt commented on #59
how it solves the issue cuse we had url before too ? please tell

[2017-06-20 19:38] mariobehling commented on #22
So, first and for all we need the distro for FOSSASIA events. Later we care about other things.

Therefore we need:
* metapackages
* browser configs
* other pre-set settings, that were already defined in the original project description

[2017-06-20 19:48] meets2tarun commented on #22
**What about the desktop environment?**
* Cinnamon
* LXQT
* or default one LXDE

**What about the way of choosing metapackages? Are there going to be a list where user can decide which metapackage to choose?**

[2017-06-20 19:52] mariobehling commented on #22
Let's go with one first. We can have more DEs later. Please use LXQT.

Meta-Package - we need our own Meilix Metapackages. As you progress you need to check if anything else is needed. Just progress feature by feature.

[2017-06-20 19:58] meets2tarun commented on #22
@mariobehling

No, my doubt is that are we going to as the user for any package for installation in the iso during the build configuration on the homepage of the webapp or not?
If No, then ok.
If Yes, then Are there going to be a list where the user can decide which metapackage to choose or some other way?

[2017-06-20 20:10] xeon-zolt opened #61 "add option to add default webpage to distro"
Steps
- [x] Adding a url option to webapp
- [x] configuring meilix generator branch to use this url

[2017-06-20 20:58] mariobehling commented on #22
@meets2tarun I don't understand exactly what you are trying to say.

For the moment just proceed step by step and implement feature by feature.

[2017-06-20 20:59] mariobehling commented on #22
Meta-Packages are not features. It can be a helper to achieve a feature.

[2017-06-20 23:07] xeon-zolt opened #63 "update travis from python2 to python3"
travisCI by default use python 2.7 and heroku use python 3.6.1so for deployment python 3.6 should be added to travis.yml

[2017-06-22 20:06] xeon-zolt opened #66 "make checking pull request easier"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
we keep asking for url to check the pull request to see changes

**Expected Behaviour**
it should be automated by heroku pipelines

[2017-06-23 07:35] #1 closed

[2017-06-25 02:47] meets2tarun commented on #61
How are we gonna use this URL?
Purpose and Benefits

[2017-06-25 04:46] xeon-zolt commented on #61
as default webpage in meilix

[2017-06-25 10:23] meets2tarun opened #68 "Feedback System"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
The idea is to introduce a feedback system which will record and ask the user the experience of the building of the iso. And we will use th

[2017-06-27 07:09] tabesin commented on #60
Have you resolved the deployment error? Otherwise looks like a support request.

[2017-06-27 08:50] meets2tarun commented on #60
We are solving the error. Since I'm waiting for the PR to get merged.

[2017-06-28 07:03] yashLadha opened #70 "Meilix-generator logo in Index"
It would be nice if we add the meilix generator logo in README at index page.

[2017-06-29 12:47] niccokunzmann commented on #34
@xeon-zolt Did you fix this?

[2017-06-29 12:50] xeon-zolt commented on #34
almost just testing the code

[2017-07-01 04:09] #53 closed

[2017-07-01 04:09] #57 closed

[2017-07-01 10:03] meets2tarun commented on #60
https://github.com/fossasia/meilix-generator/pull/55
https://travis-ci.org/fossasia/meilix-generator/builds/249067573#L213

[2017-07-01 10:03] #60 closed

[2017-07-01 11:05] abishekvashok commented on #66
I don't think that solves this.

[2017-07-01 17:55] xeon-zolt commented on #66
i have already created a pipeline someone with admin access can turn it on

[2017-07-02 07:56] abishekvashok commented on #68
The question is where will we store the feedbacks. We could make a gitter channel and a specialised bot designed for the task, which will make a post in the group for each feedback along with username and email maybe.

[2017-07-02 09:44] abishekvashok commented on #51
Is it fixed?

[2017-07-03 14:53] niccokunzmann commented on #66
@xeon-zolt I do not have admin access. What would the person with admin access do?

[2017-07-03 14:56] xeon-zolt commented on #66
@niccokunzmann completed that task to enable auto deploys from pipeline

[2017-07-11 01:25] xeon-zolt opened #75 "creation of script in heroku and sending it as a variable"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

we are currently sending different variables for each change at the end we may have too many which will be difficult to set as env. variables for new Heroku dynos

[2017-07-11 19:56] xeon-zolt commented on #75
![screenshot from 2017-07-12 01-19-39](https://user-images.githubusercontent.com/4529442/28087737-1e2ea392-66a1-11e7-8c1e-1334de999749.png)

[2017-07-13 02:28] #63 closed

[2017-07-13 02:37] meets2tarun commented on #66
@xeon-zolt  If everything is ok, can we close this?

[2017-07-13 02:38] meets2tarun commented on #44
@yashLadha  Are you working on the issue or should we put this into backlog?

[2017-07-13 02:38] meets2tarun commented on #54
@yashLadha  Are you working on the issue or should we put this into backlog?

[2017-07-17 14:00] xeon-zolt commented on #34
user will be notified by a email

[2017-07-17 14:00] #34 closed

[2017-07-17 14:04] xeon-zolt commented on #13
download link will be emailed to the user

[2017-07-17 14:04] #13 closed

[2017-07-17 14:27] meets2tarun opened #78 "Testing for wallpaper"
We already implemented but it needs to be tested after merging of the LXQt desktop of meilix (https://github.com/fossasia/meilix/pull/84)

[2017-07-17 14:31] xeon-zolt commented on #78
some lines are to be changed for that and we can do it after merging lxqt branch

[2017-07-17 15:41] #66 closed

[2017-07-17 15:43] xeon-zolt opened #79 "change the user name and host name with the name of the event"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

we should change the user name and host name with the name of the event

**Actual Behaviour**
currently, hotelos is the user name and host name

**Expected Behavi

[2017-07-18 05:58] #61 closed

[2017-07-18 12:06] meets2tarun opened #80 "How can we onboard new developers to the project?"
We have our project going and developing in a smooth way. The thing we need now is to introduce the project to people out there and asked them to give it a try. We also want to engage more and more onboard developers in the project.
Ways to go for it:
- [ ] Maketize project to developers
- [ ] New kind of project: OS by configuration and one can develop its own iso for personal use without a singl

[2017-07-18 12:28] meets2tarun commented on #79
First, the issue is that to find out that from where this hotelos named is assigned?
@abishekvashok

[2017-07-18 12:39] meets2tarun opened #81 "Yield page replacement"
https://github.com/fossasia/meilix/pull/85
If this PR works and one can get the link to the mail then we need to remove the yield with the message that the iso will be mail to `$email` in an `estimated time`

[2017-07-19 10:35] #81 closed

[2017-07-21 04:53] #29 closed

[2017-07-21 19:47] #25 closed

[2017-07-21 21:42] meets2tarun commented on #79
`/etc/hostname`

[2017-07-21 21:54] xeon-zolt commented on #79
[code]
This changes the name, the group, the home directory and ownership and group of of that directory to the new ones, along with all the files.

[2017-07-24 17:11] niccokunzmann opened #85 "GSoC Phase 3 what should be done?"
Please leave comments below about what should be included in the third phase of GSoC.
Big goals and feature ideas welcome.
![grafik](https://user-images.githubusercontent.com/564768/28535244-f2fc5086-70a3-11e7-870c-fff389fcde88.png)
Please comment, we can discuss and create new issues from that.
TODO: copy out ideas from https://pad.freifunk.net/p/hangout-05 line 69

[2017-07-24 17:13] niccokunzmann commented on #85
from https://pad.freifunk.net/p/hangout-06

[2017-07-24 17:18] niccokunzmann commented on #85
Idea by Tarun: History Page with configuration and ISO

[2017-07-24 17:19] niccokunzmann commented on #85
Idea: Create a tutorial for how to add a new feature to the web app. Use and improve this tutorial for the following features.

[2017-07-24 17:20] niccokunzmann commented on #85
Idea: Create automated testing of the app using pytest

[2017-07-24 17:22] niccokunzmann commented on #85
Idea by Harsh: Find a way to delete old ISO images which are not useful any more.

[2017-07-24 17:22] niccokunzmann commented on #85
Idea: Walk other developer through implementing a feature.

[2017-07-24 17:23] niccokunzmann commented on #85
Idea: Create easy issues and tag them with first-timers-only

[2017-07-24 17:24] niccokunzmann commented on #85
TODO: copy out ideas from https://pad.freifunk.net/p/hangout-05 line 69

[2017-07-24 17:24] meets2tarun commented on #85
https://github.com/fossasia/meilix-generator/issues/80

[2017-07-25 07:34] niccokunzmann opened #86 "Review Policy"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Actual Behaviour**

Observation: I heard there is a policy that each PR needs to be reviewed by two people. This means three people must be involved to merge it. This is small project which two people are actively working on (see https://github.com/fossasia/meilix-generator/graphs/contributors ).

**Problem**

When I think about it

[2017-07-25 15:59] meets2tarun opened #88 "Issue of auto-deployment on Heroku"
**I'm submitting a ...**
- [x] bug report

**Actual Behaviour**
We are getting this as an error and as @xeon-zolt mention, it asks for credit card credentials also but here it's something else:
![screenshot from 2017-07-25 21-25-06](https://user-images.githubusercontent.com/15213246/28581556-257a6b4c-7180-11e7-8032-e3924ae2af47.png)

**Expected Behaviour**
We should get a deployment on each PR.

*

[2017-07-26 23:04] tabesin commented on #86
My thought on this is that PR in this project hardly follow standards for no apparent reason. Think of a PR as a commit to the main repo. One issue, 1-n commits, one pull request."Fixes issue #number". Furthermore there are many "metabugs" and tasklists in the issue tracker.

[2017-07-27 13:18] meets2tarun commented on #85
https://github.com/blog/2397-making-it-easier-to-grow-communities-on-github

[2017-07-27 13:19] meets2tarun commented on #80
https://github.com/blog/2397-making-it-easier-to-grow-communities-on-github

[2017-07-27 14:54] abishekvashok commented on #85
Make the commit messages more professional. It improves the professionalism of the project.

[2017-07-27 14:55] abishekvashok commented on #86
Numbers should be dynamically determined for each project taking in accord the number of participants involved.

[2017-07-27 17:46] #86 closed

[2017-07-27 20:09] tabesin commented on #78
#84 is merged. Please make sure that your commit message mention the respective ticket "Fixes..."

"Testing for wallpaper" is unclear. You mean the upload of images, or the packaging, or... Do you want to write automated tests or is that just for test users to confirm that it works using test cases.

Anyway, I suggest to close this ticket.

[2017-07-27 22:00] xeon-zolt opened #89 "Adding Tooltips to webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
no help or guide provided for webapp user

**Expected Behaviour**
tooltip help for each form item to be provided so that user knows what it i

[2017-07-27 22:01] tabesin commented on #85
1) Set issue tickets for small tasks.
2) implement other options for the web app interface, e.g. selection of default browser

[2017-07-28 11:21] #78 closed

[2017-07-28 12:32] tabesin commented on #79
Note you have made hardcoded references to the home path in past commits. So this ticket may help to refactor the code. Please resolve all assumptions of hotelos as $HOME first, so that nothing breaks.

[2017-07-28 12:45] tabesin opened #90 "Unexplained number appears on submit confirmation page ("output")"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

1. A strange "1" is shown on the output page.
2. The output has no theming.

**Expected Behaviour**
1. none
2. Applies same bootstrap theme

[2017-07-28 13:18] tabesin opened #91 "Enable user customized Desktop files for generated ISO (backend)"
**I'm submitting a ...**  (check one with "x")
- [ x ] feature request

**Actual Behaviour**

unimplemented feature in the backend.

**Expected Behaviour**

With the web interface enable the webapp user to upload a tar.gz or zip file which contains files to be unpacked within the $HOME/desktop folder (or actually skeleton). This could include for instance customized files that webapp users want to

[2017-07-31 19:58] xeon-zolt commented on #90
we can close this issue now as the css is fixed pull #84 is merged

[2017-07-31 22:30] tabesin commented on #19
Please ensure proper naming of bugs. "Bug issue" is no proper description

[2017-07-31 22:42] #90 closed

[2017-08-01 03:28] meets2tarun commented on #19
I think this issue still persists and it shouldn't be closed yet.

[2017-08-02 04:58] meets2tarun opened #92 "Nicco patch branch"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Short Description**

There is a niccokunzmann-patch 1 branch in the repository and I think we don't need it because the PR related to it is already merged. Kind

[2017-08-02 05:02] meets2tarun opened #93 "Wallpaper implementation in the meilix ISO"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Short Description**
Now we have shifted to LXQt so its configuration is different from the older desktop. We now need to again go for wallpaper implementation i

[2017-08-02 05:03] abishekvashok commented on #93
Doing features you did again and again?

[2017-08-02 05:10] meets2tarun commented on #93
It has issues since the LXQt has the different configuration than the LXDe which is in the so so far past.
We have successfully done it in the LXde but since the config. are changed that didn't work again and again.

[2017-08-02 09:40] tabesin commented on #93
Better finish the pending PR first, rebase them, and once your pipe is empty tackle the smaller items like this one.

[2017-08-02 11:02] tabesin commented on #93
Ok, so configuration is found in ~/.config/pcmanfm-qt/lxqt/settings.conf

Under [Desktop] set
[code]

[2017-08-02 17:10] tabesin commented on #92
deleted

[2017-08-02 17:10] #92 closed

[2017-08-03 10:33] #70 closed

[2017-08-05 06:48] #75 closed

[2017-08-06 07:59] yashLadha opened #95 "Fix Indentation Style"

[2017-08-07 07:42] yashLadha opened #97 "Bug In UI"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix
![screenshot from 2017-08-07 12-23-48](https://user-images.githubusercontent.com/18033231/29016932-16ba3d3e-7b72-11e7-9fd5-22839aadaacd.png)

[2017-08-07 08:54] xeon-zolt commented on #97
@yashLadha can you describe the bug

[2017-08-07 09:30] yashLadha commented on #97
The text is not fitting in the field. @xeon-zolt

[2017-08-09 14:10] tabesin commented on #93
Split is as follows: one task is to ensure that the custom image file gets packaged with Meilix ISO.
Other task is that the image file is set as background.

[2017-08-09 14:11] tabesin commented on #93
https://github.com/lxde/pcmanfm-qt/blob/master/config/pcmanfm-qt/lxqt/settings.conf.in

[2017-08-09 14:59] abishekvashok commented on #68
@meets2tarun any updates on this?

[2017-08-09 15:01] abishekvashok commented on #17
Updates

[2017-08-09 16:23] #95 closed

[2017-08-09 17:38] yashLadha commented on #97
I have seen that it is using a span tag and that to do not have a fixed width set to it. It is because the text is span way more than the button size. May be it is more appropriate to show only a shortened filename to the user and not the full path. @xeon-zolt Views @meets2tarun

[2017-08-11 15:17] yashLadha commented on #89
I will send a PR for it today.

[2017-08-11 15:26] yashLadha commented on #89
Shall i add tooltips for email and event name because as i see tooltips for event link is already present in the page @xeon-zolt

[2017-08-11 15:45] xeon-zolt commented on #89
yes it would be nice

[2017-08-11 15:45] xeon-zolt commented on #89
yes it would be nice

[2017-08-11 17:06] meets2tarun commented on #89
@yashLadha
Go ahead

[2017-08-15 05:10] #89 closed

[2017-08-21 16:47] tabesin commented on #85
https://pad.freifunk.net/p/hangout-10

[2017-08-22 04:22] meets2tarun opened #100 "Clean-up the repository"
We require to finish up all the tests and clean up the test files in the repository
https://github.com/fossasia/meilix-generator/blob/master/travis_script_1.sh

[2017-08-25 13:20] #100 closed

[2017-08-27 11:20] meets2tarun commented on #88
We need to rectify this issue soon
![screenshot from 2017-08-27 16-46-46](https://user-images.githubusercontent.com/15213246/29749397-dbce7628-8b47-11e7-929e-372091cfda1d.png)

[2017-08-27 16:48] tabesin commented on #97
[code]

[2017-08-27 17:17] abishekvashok commented on #97
For bootstrap there's a filestyle plugin i guess.

[2017-09-03 09:43] niccokunzmann opened #104 "Can not generate ISO using Firefox 52.3.0 (32-Bit)"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Actual Behaviour**

When I enter the following on https://meilix-generator.herokuapp.com/

![grafik](https://user-images.githubusercontent.com/564768/30001909-9abf3730-909c-11e7-870d-19a8fdfa5e5f.png)
 And I click on `Build`,
All fields get deleted:

![grafik](https://user-images.githubusercontent.com/564768/30001910-b1eeead6-909c-

[2017-09-03 09:44] #51 closed

[2017-09-03 09:46] meets2tarun commented on #104
https://github.com/fossasia/meilix-generator/issues/19

[2017-09-06 11:18] #93 closed

[2017-09-25 17:54] #27 closed

[2017-10-02 16:55] meets2tarun commented on #97
@yashLadha We are waiting for your PR.
Kindly sign-up for codeheat.

[2017-10-04 08:14] tabesin commented on #80
Screenrecordings? https://askubuntu.com/questions/4428/how-can-i-record-my-screen

[2017-10-08 20:19] ParthS007 commented on #88
@meets2tarun  is this issue still exists? If yes please tell me how to start with it.

[2017-10-09 08:00] meets2tarun commented on #88
Yes, @ParthS007 the issue still persists, you can go through https://github.com/fossasia/meilix-generator/blob/master/app.json and look for the code to deployment.
@tabesin

[2017-11-02 06:30] xeon-zolt opened #107 "Create Upload for vector logo upload"
create upload vector logo similar to wallpaper for the OS branding to be used for Plymouth and start menu.

[2017-11-05 16:17] meets2tarun commented on #107
Should we add this task to GCI'17 task list? @xeon-zolt

[2017-11-25 22:27] meets2tarun commented on #33
@mariobehling Please help us regarding this issue.

[2017-12-11 17:26] ParthS007 commented on #88
@meets2tarun Is this issue still persists.Sorry for inactivity

[2017-12-11 17:45] xeon-zolt commented on #88
yes

[2017-12-11 18:18] ParthS007 commented on #88
thanks @xeon-zolt 👍 . Will let you know about the progress

[2017-12-12 08:21] abishekvashok commented on #88
@meets2tarun on it.

[2017-12-12 08:36] abishekvashok commented on #88
@meets2tarun @xeon-zolt where are the env. variables namely, EMAIL< KEY AND TRAVIS_TAG assigned?

[2017-12-13 03:47] xeon-zolt commented on #88
@abishekvashok these three variables are defined in config vars in the setting of Heroku dashboard.

[2017-12-13 07:46] abishekvashok commented on #88
The error states that they are missing, is it still the case?

[2017-12-13 18:22] xeon-zolt commented on #88
cause the Heroku CI is not enabled and to enable it we require to add a credit card

[2017-12-13 18:59] ParthS007 commented on #88
@xeon-zolt Can we change the account?

[2017-12-13 19:35] xeon-zolt commented on #97
![screenshot-2017-12-13 meilix generator](https://user-images.githubusercontent.com/4529442/33958600-d783355e-e06a-11e7-9012-9c3a22603a93.png)

[2017-12-13 19:35] #97 closed

[2017-12-13 19:42] xeon-zolt commented on #88
@ParthS007 yes you can we only need this so that pull request can be tested easily
![screenshot-2017-12-13 meilix-generator settings Heroku 1](https://user-images.githubusercontent.com/4529442/33958814-9befa936-e06b-11e7-88df-34eacde306b8.png)

these are the three env variables two of them are empty and KEY contains the auth token for Travis CI API

[2017-12-13 20:59] ParthS007 commented on #88
@xeon-zolt can Transfer of ownership resolve the issue?

[2017-12-14 11:25] 0x48piraj commented on #88
I'm getting started, I'll give an update if any fix is found.

[2017-12-14 16:27] xeon-zolt commented on #88
@ParthS007 i don't think ownership transfer can help

[2017-12-18 10:02] mariobehling opened #108 "Improve app page"
Please change the app page to conform more closely with other FOSSASIA projects, e.g. Badgeyay
* Add a top area with a logo on the left and a dropdown menu of items on the right
* Use the text here as a logo http://patorjk.com/software/taag/#p=display&f=Flower%20Power&t=meilix
* Take out the large placeholder logo
* Change "Event Name" to "Name of Your Distribution"
* Change "Event Link" to "Brows

[2017-12-18 10:13] rish4bhn commented on #108
Is anyone else already doing this? If not, please assign it to me.
I can complete it quickly. @mariobehling

[2017-12-18 10:55] meets2tarun commented on #108
@rish4bhn Go for it

[2017-12-18 13:55] rish4bhn commented on #108
Thanks @meets2tarun, will be done soon.

[2017-12-19 16:07] rish4bhn commented on #108
@mariobehling I made it look similar to BadgeYAY and I replaced the navigation bar.
I wanted to see if you liked this design before making a PR.
Do you need any more changes and is the logo fine?

Also, I don't know what _current link to deployment_ means so it would be nice if someone could help.

![meilix-2](https://user-images.githubusercontent.com/5862206/34165774-3740449a-e503-11e7-89b1-f43f8

[2017-12-20 06:40] rish4bhn commented on #108
Added a footer with download options.
Will raise a PR when the layout is approved.

![meilix_blue](https://user-images.githubusercontent.com/5862206/34194361-6a880fa6-e57e-11e7-9c6a-cf4e04f6c298.png)

[2017-12-20 07:06] meets2tarun commented on #108
@rish4bhn Good Work!
Looking better!

Quoted: @abishekvashok

[2017-12-22 11:35] mariobehling opened #111 "Create options for distro configuration"
One of the starting points for the development of the Meilix Generator was the labs issue https://github.com/fossasia/labs.fossasia.org/issues/135. We can now follow up here. Please create subissues for open items.

- [x] Use LXQT (Issue #??)
- [ ]  Switch off notifications
- [ ]  Switch off screensaver and sleep modus
- [ ]  Switch off system sounds (https://github.com/fossasia/meilix/pull/112)
-

[2018-01-17 17:03] #85 closed

[2018-01-17 17:04] #26 closed

[2018-01-25 12:07] mariobehling opened #113 "Avoid external dependencies"
Please take out external dependencies on link `rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css` and add css into the repo itself rather.

[2018-01-25 14:11] ankurg22 commented on #113
@mariobehling please assign me this issue. I'm working on this.

[2018-01-25 14:16] meets2tarun opened #114 "Close button doesn't work as accepted"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

While clicking the close button, it is not close the bar.

**Expected Behaviour**

Close icon should close the bar.

**Steps to reproduce it

[2018-01-25 14:19] meets2tarun commented on #113
Sure @ankurg22 GO ahead!!

[2018-01-25 15:34] anshumanv commented on #114
It works for me @meets2tarun, can you please recheck?

[2018-01-25 17:56] xeon-zolt commented on #114
@meets2tarun it works for me maybe a screencast can help in better understanding what you are  to day

[2018-01-25 19:23] #113 closed

[2018-01-25 21:08] ParthS007 opened #116 "Nosetests should not be used in travis"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Presently, Travis run script `nosetests  app.py`  while testing which is not needed as `nose` is used for testing unit tests and moreover nos

[2018-01-26 12:44] meets2tarun commented on #116
Thanks @ParthS007
Go for solving the issue.

[2018-01-26 12:48] meets2tarun commented on #114
ok @/all just do as follows:
Click on that 3 bar, the move your cursor around and then try to close it.
You can even try to click on all 4 sides of that `X` for closing it.

[2018-01-27 13:03] tabesin commented on #104
As a side question, could you login to a mattermost instance with this browser?

[2018-02-09 06:54] xeon-zolt opened #118 "get travis CI independent solution"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
we are currently using Travis CI APIs to send data to build server which is Travis Currently

**Expected Behaviour**
I want to use a differen

[2018-02-09 07:15] xeon-zolt commented on #118
one solution that I can think is of a RabbitMQ server in between that can manage blobs and then the build server can read the configs. from the Queue

[2018-02-23 05:32] mariobehling commented on #118
@xeon-zolt This is a long-term goal, but right now we need a working outcome. Adding more components now at this point would increase the number of components to maintain and run on our own infrastructure. We have limited resources for this and should focus more on other parts. Therefore closing it.

[2018-02-23 05:32] #118 closed

[2018-02-23 05:35] mariobehling opened #119 "Travis failing"
Travis is failing. Please help to fix.

[code]

[2018-02-23 05:38] mariobehling commented on #68
This is out of scope at the moment.

[2018-02-23 05:38] #68 closed

[2018-02-24 11:14] meets2tarun commented on #119
I'm unable to understand why it get failed after success.
@abishekvashok
@xeon-zolt

[2018-02-24 13:25] abishekvashok commented on #119
Maybe "" did the trick this time.

[2018-02-25 03:39] meets2tarun commented on #119
So what would be the solution.

[2018-02-25 04:14] abishekvashok commented on #119
Try removing the `"`.

[2018-03-11 20:04] mariobehling opened #121 "Add script to Generator and implement UI options"
A small script containing automating some of the issues here, as a sketch

- [ ] Use LXQT
- [x] Switch off notifications
- [x] Switch off screensaver and sleep modus
- [x] Switch off system sounds
- [ ] disable bookmarks in browser
- [x] Install ~~ownCloud~~ and Dropbox
- [x] Pre-set start system without password
- [ ] install Gtalk/Hangout
- [x] install Firefox, Chrome, Chromium
- [ ] set Chromiu

[2018-03-11 22:56] tabesin commented on #121
While LXDE or LXQT do not support Gnome's dconf I see the point.

[2018-05-15 09:06] niccokunzmann opened #124 "Trigger Travis using Python instead of script file"
**I'm submitting a ...**  (check one with "x")
- [X] bug report

**Actual Behaviour**
Currently, the script.sh file is used to trigger travis.

This creates these problems:
- Python itself is a scripting language. We use two languages here
- We set environment variables in the app.py to call the script. This could be python arguments to a function (cleaner code)
- As I understand, the redirect to

[2018-05-16 21:48] meets2tarun opened #125 "Failing of Travis"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Travis is failing and it is giving credential issue although none of these values had been changed.https://travis-ci.org/fossasia/meilix-generator/jobs/379604557#

[2018-05-18 23:05] #125 closed

[2018-05-22 22:55] #108 closed

[2018-05-23 05:48] meets2tarun commented on #119
https://github.com/fossasia/meilix-generator/pull/126

[2018-05-23 05:48] #119 closed

[2018-05-23 17:39] meets2tarun opened #128 "Meilix Generator favicon missing"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

The webapp loads the favicon but unable to find the file so it gives the following error.
<img width="1225" alt="screen shot 2018-05-23 at 23 03 50" src="https://

[2018-05-23 17:44] meets2tarun opened #129 "No action onclick of the button"
**I'm submitting a ...**  (check one with "x")
- [x] bug report

There is a button present on the top right corner which gets open on click and displays the options.
But that is not working.
Nothing is happening on clicking the button.

[2018-05-24 03:36] meets2tarun opened #132 "Adding Tarun's documentation for adding new implementable features in generator UI to repo"
The motive of the issue is to propose ideas for implementation of features in generator UI.
The requirement is that
- [ ] Anyone can easily add new options to the generator UI
- [ ] Those options should work and effects can be seen in meilix ISO.
- [ ] Only one repo (meilix-generator) should only be touch.

[2018-05-24 03:51] #129 closed

[2018-05-24 17:29] meets2tarun commented on #132
I made the idea for the implementation and I request to please provide feedback so we can start working on the idea.
https://docs.google.com/document/d/1owBHqdzddUcmlaLqKIKNuePNKJ5YkvcGMt-yy7fI6Gw/edit?usp=sharing

cc: @mariobehling , @tabesin , @niccokunzmann @xeon-zolt @abishekvashok

[2018-05-24 19:11] praveenojha33 opened #133 "Make Meilix-Generator responsive for all screen sizes."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Currently there are some issues regarding responsiveness of meilix-generator webapp.
![image](https://user-images.githubusercontent.com/25537

[2018-05-25 07:23] meets2tarun opened #134 "The dropdown menu doesn't get closed"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

The dropdown menu doesn't closes while clicking on the white part of the webapp.

<img width="432" alt="screen shot 2018-05-25 at 12 50 50" src="https://user-imag

[2018-05-27 04:41] meets2tarun opened #137 "Getting all dependencies offline for the generator webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Offline dependencies for the fast loading of the page and better local testing.

[2018-05-27 18:08] #128 closed

[2018-05-29 04:45] meets2tarun opened #139 "Implement frontend feature in UI"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Implement all the features mentioned in the [doc](https://docs.google.com/document/d/1VYdFjjXvET2QFHv2SxUkTGWAruGf_3d2Pnx7bypOTFc/edit#heading=h.8w2zioq1xmyx) in

[2018-06-03 14:11] #139 closed

[2018-06-03 15:04] tabesin opened #143 "Generator Botton partially hidden"
**I'm submitting a ...**  (check one with "x")
- [ X] bug report

**Actual Behaviour**

![bugtemprep](https://user-images.githubusercontent.com/10114907/40887907-13a5f8fc-6750-11e8-811e-c500bf37724c.png)

**Expected Behaviour**
Button should not be hidden by overlay

**Steps to reproduce it**

**System information:**

**Would you like to work on the issue?**

no

[2018-06-03 15:15] meets2tarun commented on #143
https://github.com/fossasia/meilix-generator/issues/133

[2018-06-03 15:16] meets2tarun opened #144 "Multiple options can't be select"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Multiple yes and no can't be select at the same time.

[2018-06-05 15:25] meets2tarun opened #147 "Update of Python Version"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Now we are running generator with older version of Python which is not supported.
So the idea is to update the python version.
I'm attaching heroku log.

-----> P

[2018-06-06 14:03] #147 closed

[2018-06-08 14:59] #144 closed

[2018-06-08 15:00] #143 closed

[2018-06-11 10:28] Jitender46559 commented on #134
Assign this issue to me

[2018-06-11 12:04] meets2tarun commented on #134
@Jitender46559
Go for it.

Thanks

[2018-06-11 12:14] Jitender46559 commented on #134
Can you please guide me i am new on github.

[2018-06-11 12:45] meets2tarun commented on #134
Try to go through https://github.com/fossasia/meilix-generator/blob/master/README.md
and for GitHub: https://guides.github.com/activities/hello-world/

[2018-06-12 04:00] meets2tarun opened #150 "Update index file for scripting"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Make required changes into the index file with id to add the packages.

[2018-06-12 04:01] meets2tarun opened #151 "Add scripts"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Code scripts for the required packages in shell.

[2018-06-13 19:16] #150 closed

[2018-06-15 03:22] meets2tarun opened #154 "To get all variables"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

The idea is to get all the variables present in the index.html to app.py

[2018-06-16 07:54] meets2tarun commented on #121
https://docs.google.com/document/d/14i3iWmcqbEjET7WFj22VYdepnWDEuxusF-mCAyOAVcM/edit

[2018-06-16 08:23] niccokunzmann opened #156 "[FRONTEND] check input format whily typing"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Currently, we can input everything in the fields at http://meilix.org

**Expected Behaviour**

However, we would like fast user-feedback.
Pl

[2018-06-16 08:27] niccokunzmann opened #157 "[FRONTEND] Use switches instead of check-boxes to enable/disable features"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

We use check boxes or yes/no buttons.

**Expected Behaviour**

In Android we use switches (on/off). Please use switches everywhere where thi

[2018-06-16 08:29] niccokunzmann opened #158 "Use nextcloud instead of owncloud"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Currently, we use owncloud in the web interface.

**Expected Behaviour**

use nextcloud instead of owncloud

**Steps to reproduce it**

**Re

[2018-06-16 08:34] niccokunzmann opened #159 "[HTML] Add note about recommended size"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

When I upload the wallpaper, I would like to know which sizes are recommended.

**Expected Behaviour**

Please, below the wallpaper write th

[2018-06-17 09:29] #154 closed

[2018-06-18 13:20] meets2tarun commented on #159
HD picture with 1080 lines with 1920 pixels per line (1920 x 1080).
HD picture with 720 lines with 1280 pixels per line (1280 x 720).
Both of these formats with an aspect ratio of 16:9.

[2018-06-18 13:49] meets2tarun commented on #124
Today officially Travis doc offers only bash way to do this: https://docs.travis-ci.com/user/triggering-builds/
I found this and can it be manipulated to use it to serve our purpose.  https://github.com/danielwhatmuff/trigger-travis

[2018-06-19 06:16] #158 closed

[2018-06-19 13:11] meets2tarun commented on #124
@niccokunzmann Please have a look here.
Thanks

[2018-06-19 13:30] niccokunzmann commented on #124
It is an HTTP API. This can be accessed in many programming languages, not only curl.

[code]
Can be translated to something like this:
[code]
You can have a look here for more information:

- http://docs.python-requests.org/en/master/user/quickstart/#more-complicated-post-requests
- http://docs.python-requests.org/en/master/user/quickstart/#custom-headers

[2018-06-19 13:30] #157 closed

[2018-06-21 11:50] #159 closed

[2018-06-21 11:56] niccokunzmann opened #166 "[HTML/CSS/JS] Unified info boxes"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Currently, we do not have info boxes on the page.

**Expected Behaviour**

I would like to have a link saying `more information` below these

[2018-06-21 13:38] meets2tarun opened #167 "Recentering of the text"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

We can a bug in the email part in the recent commit which centres the text.
And this makes the design differ from that of the open-event too.
<img width="477" alt

[2018-06-21 13:38] meets2tarun commented on #167
https://github.com/fossasia/meilix-generator/pull/165

[2018-06-22 06:25] rpotter12 opened #171 "link description on simple text"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

We can a bug in the dropdown part that we are getting a link description on the text "More on". Only "labs.fossasia.org" is link.
![screenshot from 2018-06-22 11-

[2018-06-22 06:43] niccokunzmann commented on #167
@meets2tarun Thanks for the PR. Since this is a revert, I guess it was not possible for @rpotter12 to see that we have a design guideline. Would you be willing to add some sentences about working on HTML code and the design guideline/HTML guideline? This can also be in a different PR. Because: I would like to have this decision transparent for new-comers.
Currently, I cannot refer to a document th

[2018-06-22 06:44] #156 closed

[2018-06-24 17:18] meets2tarun opened #173 "Design Guidelines for Meilix Generator Webapp"
Meilix Generator webapp follows a design guideline according to other FOSSASIA projects like https://github.com/fossasia/open-event-webapp.
The idea is that the webapp should be similar to these FOSSASIA web apps.

This issue is wrt: https://github.com/fossasia/meilix-generator/issues/167#issuecomment-399338291

[2018-06-24 19:04] #171 closed

[2018-06-25 05:17] meets2tarun commented on #167
Solved by the above PR

[2018-06-25 05:17] #167 closed

[2018-06-25 05:53] meets2tarun opened #174 "Email centering"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

<img width="429" alt="screen shot 2018-06-25 at 11 23 11" src="https://user-images.githubusercontent.com/15213246/41832562-3632c4e2-786a-11e8-9752-c5dd325c0ffe.pn

[2018-06-25 05:55] meets2tarun opened #175 "Trgger hover on the name of the distribution"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Remove the trigger notification on the name of the distribution line
<img width="556" alt="screen shot 2018-06-25 at 10 46 55" src="https://user-images.githubuser

[2018-06-27 05:00] #174 closed

[2018-07-02 04:26] meets2tarun opened #181 "Clicking on white screen enable popup"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Clicking anywhere on white screen open the popup. But the pop-up should only get open while clicking on the 3x3 dots.

[2018-07-02 07:33] rpotter12 commented on #181
@meets2tarun I have already seen this. I am working on it.

[2018-07-02 13:46] meets2tarun opened #183 "Need for a required option on the webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There is no required star mark so the user doesn't know whether this option is necessary or not.

**Expected Behaviour**

There should be a

[2018-07-02 13:48] meets2tarun commented on #181
@rpotter12
Its great to see you identified the issue.

Later as soon as you identify a bug, please post it on issue tracker.
If you are working on it then send better send a PR and follow over there.

Thanks

[2018-07-02 17:00] rpotter12 commented on #183
@meets2tarun I will work on it today.

[2018-07-02 19:08] #175 closed

[2018-07-03 13:06] #166 closed

[2018-07-03 15:48] rpotter12 opened #184 "help button is displaying on the front page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

help button is showing on the page. There is no need of help button because the question marks sign is already showing the same thing.

![screenshot 51](https://u

[2018-07-03 18:09] meets2tarun commented on #184
Yes, @rpotter12
We need to remove that.

[2018-07-03 19:20] rpotter12 commented on #183
@meets2tarun In the codes of index.html we have put the required command in all the options. So we do not have to put star mark. It automatically shows that all are mandatory.

[2018-07-04 02:15] meets2tarun commented on #183
Yes, its true but just for showing user, we need to implement this.
Because can't see the background part.

[2018-07-05 18:06] meets2tarun commented on #132
![build](https://user-images.githubusercontent.com/15213246/42339925-285cc9ae-80ac-11e8-96aa-5a56456e44a3.png)
![customize](https://user-images.githubusercontent.com/15213246/42339928-2c0c948a-80ac-11e8-9a84-c464bf9f9e2b.png)

[2018-07-05 18:08] #184 closed

[2018-07-05 18:12] #183 closed

[2018-07-05 18:18] meets2tarun commented on #181
@rpotter12
This issue still persists.
Have a look.

Thanks

[2018-07-06 05:00] rpotter12 commented on #181
@meets2tarun I am working on it but still not able find the solution. I have tried many methods but they were not working. Let me one more time.

[2018-07-06 06:06] meets2tarun commented on #181
Please make a PR of whatever you do so that we can see.

[2018-07-06 10:25] meets2tarun opened #187 "Implementation of Help Icon"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

We already have help icon for the email part.

**Expected Behaviour**

Implementing help icon for the rest of the remaining fields.

[2018-07-06 10:28] meets2tarun opened #188 "Adding flowchart into Readme"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

We included a flowchart to explain the working of the webapp. So we though to include it into the README.md
Flowchart: https://github.com/fossasia/meilix-generato

[2018-07-06 10:29] meets2tarun commented on #188
**Request:** Please make two flow charts and for each:
- [ ]  Have a heading in the README.md file
- [ ] Write text of the purpose in the README.md file
- [ ] Each such section has one of these images
- [ ] Please create one pull request for each

[2018-07-06 10:32] meets2tarun commented on #132
https://docs.google.com/presentation/d/1Udqd5sE2m41P3nHIjnVFUiOo9T_jNgDfJiM6hQtxjSk/edit?usp=sharing

[2018-07-08 10:48] adhavalboy opened #193 "add loader"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

[2018-07-09 04:51] #187 closed

[2018-07-09 10:48] #193 closed

[2018-07-09 13:35] adhavalboy opened #194 "drop-down menu"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
-If i click any where on screen it show all option of drop down menu
-It difficult to watch on mobile screeen

**Expected Behaviour**
-when y

[2018-07-09 15:11] meets2tarun commented on #181
#195

[2018-07-09 16:24] #194 closed

[2018-07-09 17:12] #181 closed

[2018-07-09 17:14] meets2tarun commented on #134
@rpotter12 @adhavalboy
We need to sort out this issue now.

Thanks

[2018-07-10 11:11] rpotter12 commented on #134
@meets2tarun I have tried the method of fossasia/open-event-webapp to solve this issue. These both project have same dropdown code. But still it was not working.

[2018-07-10 12:44] adhavalboy commented on #134
yesterday i made some modification it was showing dropdown menu when we click any where in on the screen and looks very bad in mobile so i modified , When you click on glyphicon it open when click again gyphicon it close the menu.

[2018-07-10 12:51] adhavalboy commented on #134
I am busy with my placement process so,i am not working for few day @rpotter12
HINT: drop down is opening as required hide it when we click any where on the screen,

NOTE: it should not show drop down menu when we click on anywhere on the screen.(as per previous) I will resolve it when I am free (if it is open).
Thanks.

[2018-07-12 09:17] niccokunzmann opened #196 "Add flowcharts to the README file"
People will wonder how the generator works and how to contribute.
@meets2tarun, please add the two diagrams you made to the README.md file.

Each diagram should have a description in text saying everything that the diagram shows. This way people who look and diagrams and people who rather read have the same information.

[2018-07-12 19:44] rpotter12 commented on #17
@meets2tarun I think this issue is done. Please check this once.

[2018-07-13 05:57] rpotter12 opened #198 "question sign in front of upload text"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**

there should be a question mark sign in front of upload text in index.html which tells the function of the command.

[2018-07-13 10:54] #198 closed

[2018-07-13 15:48] meets2tarun commented on #134
@adhavalboy @rpotter12
We shall try to get help from open-event web app gitter channel of FOSSASIA to find the solution to this problem.

[2018-07-13 15:48] meets2tarun opened #199 "DropDown Menu Bug"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

The dropdown menu doesn't closes while clicking on the white part of the webapp.

<img width="432" alt="screen shot 2018-05-25 at 12 50 50" src="https://user-imag

[2018-07-13 15:49] meets2tarun commented on #134
https://github.com/fossasia/meilix-generator/issues/199

[2018-07-13 15:49] #134 closed

[2018-07-15 14:23] abishekvashok opened #201 "Font family inside the textboxes not same as that on other areas"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Text inside the textbox should be of the same `font-family` as the other parts (like labels on text-boxes) but it is not like this now.

**S

[2018-07-15 14:24] abishekvashok commented on #201
Possibly a new commer

[2018-07-15 18:32] #196 closed

[2018-07-16 03:03] #188 closed

[2018-07-16 03:04] meets2tarun commented on #188
https://github.com/fossasia/meilix-generator/pull/200

[2018-07-16 16:18] meets2tarun opened #202 "Remove script from generator webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There are scripts present in the generator web app which needs to get downloaded to Meilix repo
**Expected Behaviour**

We removed script fr

[2018-07-17 09:52] #202 closed

[2018-07-17 17:38] rpotter12 commented on #19
@meets2tarun @niccokunzmann  An issue(#104 ) is already opened which is similar to this issue. So we should close this issue.

[2018-07-18 03:54] abishekvashok commented on #19
Closing in favour of #104

[2018-07-18 03:54] #19 closed

[2018-07-18 03:56] abishekvashok commented on #151
I guess scripts should be posted on the `meilix` repo and not here. Can we close this then?

[2018-07-18 03:57] abishekvashok commented on #80
What do you mean by this?

[2018-07-18 04:00] abishekvashok commented on #54
Don't do that to check whether the release was made. Use .travis.yml and run the check on after_sucess tag.

[2018-07-18 11:34] rpotter12 commented on #24
I am closing this issue because there is no need for this issue now.

[2018-07-18 11:34] #24 closed

[2018-07-18 11:46] rpotter12 commented on #151
there is no need of this issue here in this repository.

[2018-07-18 11:46] #151 closed

[2018-07-19 16:17] #17 closed

[2018-07-26 09:26] tabesin opened #204 "Ux item 32/64"
**I'm submitting a ...**  (check one with "x")
- [x] feature request
Gitter channel at https://gitter.im/fossasia/meilix

**Expected Result**
- add an UX interface selector with the two options 32/62Bit.
- as long as it does not work backend wise grayed our
- ideally a two stages switch

[2018-08-02 04:42] #204 closed

[2018-08-02 04:46] mariobehling opened #206 "Improve UI in Package Section"
Please change the UI as follows:
* Use same table style and width as above table
* Use bigger tick box in similar style as other UI elements
* Take out table header. It is redundant.
* Change system message to "show info on browser scroll-over"

![screenshot from 2018-08-02 12-42-07](https://user-images.githubusercontent.com/1583873/43562923-1944305e-9652-11e8-997b-58f9e6b836c6.png)

[2018-08-02 04:47] mariobehling opened #207 "Don't show system messages for (?) info. Instead show info on scroll over"
There should not be system pop up messages from a website. Instead implement info in browser on scroll over.

![screenshot from 2018-08-02 12-48-02](https://user-images.githubusercontent.com/1583873/43562972-58dc3e32-9652-11e8-90d8-4e1dd1fd85d8.png)

[2018-08-02 04:53] mariobehling opened #208 "Fix design to be consistent across sections"
The design is not consistent across sections. Please fix it including the following:
* Make table lines even and avoid different padding, different border sizes or missing lines
* Make width and other distances equal of all sections
* Make build button into a square similar to other entry fields with slightly rounded corners
* Put on/off switch to the left side, label to the right side.

![screens

[2018-08-06 06:35] meets2tarun opened #209 "Documentation and Screencast"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

We need screencast and the documentation for the understanding the features implemented in Meilix Generator.

[2018-08-13 01:30] #209 closed

[2018-09-12 20:10] sarnava1 commented on #206
@mariobehling can I help with this?

[2018-09-12 21:01] tabesin commented on #206
Dear Sanava1, your contributions are very much appreciated. Please mind the FOSSASIA contribution guidelines e.g. refer in your pull request to this ticket. Thank you!

[2018-09-13 20:52] #199 closed

[2018-09-14 20:52] sarnava1 commented on #206
@tabesin I need some clarifications! Which table header do I need to take out? I mean will I take out the Package and the Checkbox header from that table or this one "Check the packages which you want to install: " ? I need to make the table shown above like the first table of the page i.e like his:
![screenshot from 2018-09-15 02-21-18](https://user-images.githubusercontent.com/25319565/45574583-

[2018-09-14 21:04] sarnava1 commented on #206
@tabesin @akshathnitd I am in a bit of confusion regarding the changes. Please help me out!

[2018-09-16 21:50] tabesin commented on #206
With the table header Mario means the dark grey descriptions of the columns. They are indeed reundant. So it is a good practice to get rid off what is self-explanatory.

[2018-09-16 21:51] tabesin commented on #206
We want above and below on/off switches on the left side.

[2018-09-16 21:52] tabesin commented on #206
Could you imagine @sarnava1 why it is a good UX practice to implement these changes?

[2018-09-16 21:53] tabesin commented on #206
What would be a better phrase than "Chose either on or off" when the dark grey header is removed?

[2018-09-18 20:29] sarnava1 commented on #206
@tabesin this is what it looks after removing the table header
![screenshot from 2018-09-19 01-56-31](https://user-images.githubusercontent.com/25319565/45714515-73b96180-bbaf-11e8-9103-ad0d3ddbf84b.png)
![screenshot from 2018-09-19 01-56-40](https://user-images.githubusercontent.com/25319565/45714565-a5322d00-bbaf-11e8-8d5f-52ff1532b5f6.png)

[2018-09-18 20:34] sarnava1 commented on #206
will making the switches to the left make it look good? I cannot understand as to what UX diference it will bring if we make the buttons or the sliders to the left? Can @tabesin please help me to know this?

[2018-09-18 20:42] sarnava1 commented on #206
@tabesin do we change the slider and make checkboxes for both the tables. I think having one uniform style throughout the page is better for a good UI experience in the page.

[2018-09-18 20:54] sarnava1 commented on #206
@mariobehling @tabesin I think we should go with the checkboxes as that gives a much more formal look to the UI. What do you say?

[2018-09-18 21:11] sarnava1 commented on #206
I think if we keep the sliders then "Chose either on or off" is an apt title!

[2018-09-18 21:38] sarnava1 commented on #206
@tabesin  this is how it looks after bringing all the checkboxes in the left hand side
![screenshot from 2018-09-19 03-04-35](https://user-images.githubusercontent.com/25319565/45718020-4e315580-bbb9-11e8-85de-2864ad9402b2.png)

[2018-09-18 21:44] sarnava1 commented on #206
@tabesin @mariobehling this is how it looks after bringing the sliders to the left:
![screenshot from 2018-09-19 03-12-41](https://user-images.githubusercontent.com/25319565/45718224-f0513d80-bbb9-11e8-892d-0d2a1bfc895f.png)

[2018-09-18 21:46] sarnava1 commented on #206
@tabesin @mariobehling I researched a lot on the ways to make a bigger checkbox. If we have to implement bigger checkboxes which will work fine across all browsers then we need to use font awesome along with a bit of css. Should I increase the size of the checkboxes or keep it as it is?

[2018-09-19 15:10] mariobehling commented on #206
Please keep it simple and avoid too long discussions. Make a PR and we review it. Follow the same design as in previous areas. Thanks.

[2018-09-19 15:10] mariobehling commented on #206
Keep the buttons on the right.

[2018-09-21 14:10] pranav1698 commented on #208
Hey @mariobehling,
I want to work on this issue and am starting to work on it;

[2018-09-22 09:03] #208 closed

[2018-09-22 11:15] sarnava1 commented on #206
@tabesin @mariobehling I have already made the changes but I am unable to understand the testing part. Can you please guide me on this?

[2018-09-22 11:45] pranav1698 commented on #206
@mariobehling and @tabesin, I want to work on this issue and am working on it

[2018-09-22 11:54] sarnava1 commented on #206
@pranav1698  Hello this issue is already assigned to me and I have almost finished the work. Please get another issue!

[2018-09-22 13:03] pranav1698 commented on #206
Hello @sarnava1, but I can see that there are no assignees in the Assignees section of the request;
If you have done all the changes please submit a pr for the same;
Beacause I am also done with the changes

[2018-09-22 13:15] sarnava1 commented on #206
Hello @pranav1698 if you see the 3rd comment from top then you will find that @tabesin assigned me this issue. Maybe he forgot to mention it there. And I will file a PR soon. I already referenced this issue last night.

[2018-09-22 13:29] sarnava1 commented on #206
Okay @pranav1698 but I am working on this issue for quite a time as evident from the comments. I am filing a pr soon. In the meantime you have many other issues to solve.

[2018-09-22 14:45] pranav1698 commented on #206
Okay @sarnava1, carry forward with this issue; no problem I will not make a pr at this moment;
Hoping that you will make a pr soon;

[2018-09-22 17:28] sarnava1 opened #214 "Make the Browse a button"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The Browse is not actually looking like a button unless and until we hover over it.
![issueofbutton](https://user-images.githubusercontent.com/25319565/45919861-d7

[2018-09-22 17:29] sarnava1 commented on #214
@tabesin and @mariobehling is this issue fine? I am working on this.

[2018-09-22 17:36] sarnava1 commented on #201
@abishekvashok can you please assign this issue to me

[2018-09-22 17:45] sarnava1 commented on #207
@mariobehling can you say me how to reproduce this?

[2018-09-22 17:58] sarnava1 opened #215 "fa fa icons should be included in all text fields"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Only in the Enter email input text field an icon of fa fa envelope is there. The other text fields too should have fa fa icons.
![fafaicon](h

[2018-09-22 17:59] sarnava1 commented on #215
@tabesin and @mariobehling is this issue fine? I am working on this.

[2018-09-22 18:26] pranav1698 commented on #207
hey @mariobehling;
I would like to work on this issue and am working on it?

[2018-09-23 09:49] sarnava1 commented on #215
@xeon-zolt please give your review about this issue!

[2018-09-23 09:49] sarnava1 commented on #214
@xeon-zolt please give your review about this issue.

[2018-09-23 12:59] sarnava1 commented on #206
Thank you @abishekvashok @xeon-zolt @tabesin @mariobehling for your support! I will love to continue contributing to FOSSASIA!!

[2018-09-23 20:17] #207 closed

[2018-09-25 11:35] #215 closed

[2018-09-25 11:40] tabesin commented on #116
What is the status of this item?

[2018-09-25 11:45] tabesin commented on #107
First we should make the meilix-artwork (https://github.com/fossasia/meilix-artwork) repo packages compile and work. Adding other artwork is then trivial.

[2018-09-25 16:21] sarnava1 opened #218 "Add meta tag and ogp tags inside the head section"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
We should add relevant meta tags and ogp tags inside the head section of the index.html template so that search engines can easily find out o

[2018-09-25 16:21] sarnava1 commented on #218
I am working on this issue.

[2018-09-25 17:23] pranav1698 opened #220 "The readme is not updated as per the new features"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The video in readme.md is older version of the UI

**Expected Behaviour**
It should be updated with the recent changes

[2018-09-26 07:02] ramantehlan opened #221 "Meilix-Generator Site Not Working"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request

**Actual Behaviour**

[Meilix-generator](https://meilix-generator.herokuapp.com/) Not working.

[code]

**Expected Behaviour**

It should work.

**Steps to reproduce it**

Go to [Meilix-Generator](https://meilix-generator.herokuapp.com/)

[2018-09-26 12:02] #201 closed

[2018-09-26 12:04] tabesin commented on #220
Give it a shot and please also reduce the redundancy in the Readme.

[2018-09-26 12:06] tabesin commented on #221
Please get the Meilix repository to work first.

Meilix-generator is the front end. Most features are expected not to work yet even though most of them are avalialable on the Meilix side.

[2018-09-26 12:46] pranav1698 commented on #220
Ok @tabesin, I will start working on it right away

[2018-09-26 13:02] pranav1698 commented on #220
@tabesin as the site is not not woking right now as mentioned in the issue #221 should I add gif of site served at my localhost

[2018-09-26 17:07] tabesin commented on #221
Ok I misunderstood

[2018-09-26 19:11] tabesin commented on #214
Great news.

[2018-09-26 19:12] #218 closed

[2018-09-26 19:14] tabesin commented on #221
I recall there was a notice concerning a security issue with the flask version we use. Maybe this blocks deployment. I have to check the Travis logs.

[2018-09-26 20:05] sarnava1 opened #223 "Fix existing issues with meta tags"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Comma settings should be unique in the meta tags, locale property of ogp should not specify en_IN, case sensitive issues in the keywords meta

[2018-09-28 09:46] #214 closed

[2018-09-30 07:44] rahulkumaran opened #228 "Shift from Heroku hosting to Openshift hosting"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Currently hosted on heroku.

**Expected Behaviour**

Start hosting on Openshift. It's easier to deploy this on Openshift. Moreover, it's one

[2018-09-30 10:22] r0mflip opened #229 "UI issue in package selection"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

When ever a user hovers onto the packages table, the hidden label is shown but the label pushes the table down. When I move my mouse onto th

[2018-09-30 11:12] r0mflip commented on #229
![2018-09-30-15-32-12](https://user-images.githubusercontent.com/37770235/46256953-b2182000-c4cf-11e8-8c7f-5a5707da4952.gif)

Excuse me for my bad recording, but this is how it behaves when I move the mouse over the table.

[2018-09-30 13:37] #229 closed

[2018-09-30 13:41] tabesin commented on #228
In general that is a good idea. Important then would be to document it. However, Fossasia deploys a lot of sites and most of them on heroku. If we migrate we should have the perspective to migrate all, not have n projects with n entirely different tool chains.

So go forward to add it as a deployment feature but Heroku must be made work again anyway.

[2018-10-01 10:53] meets2tarun commented on #221
Please see
http://meilix-generator.herokuapp.com
@ramantehlan
It works.

[2018-10-01 10:53] #221 closed

[2018-10-01 10:59] meets2tarun commented on #220
Now the site is working @pranav1698, you can go forward.

[2018-10-01 11:05] pranav1698 commented on #220
Ok tarun I will look onto it

On Mon, Oct 1, 2018, 16:29 Tarun Kumar <notifications@github.com> wrote:

[2018-10-01 21:00] sarnava1 opened #232 "Make the checkboxes to the left in the second table"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The checkboxes in the second table should me made to the left of the table as checkboxes are kept to the left of the labels they are associat

[2018-10-01 21:27] sarnava1 opened #234 "Grammatical errors"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There are a few grammatical errors in the site
Like:
The label of the first and second table must be: "This will install the packages which y

[2018-10-01 21:30] sarnava1 opened #235 "Too much space between Browse and Build options"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There is too much space between the Browse and Build options
![toomuchspacebuttons](https://user-images.githubusercontent.com/25319565/46316

[2018-10-02 05:18] siddhantshukla-10 commented on #235
I would like to work on this issue.

[2018-10-02 05:48] sarnava1 commented on #235
@siddhantshukla-10 it has been already assigned to me!

[2018-10-02 13:07] #232 closed

[2018-10-02 16:54] Mah1ndra opened #237 "Two Git checkbox's in Package selection area"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

* There are Mulitple Git checkbox's in Package selection area.

**Expected Behaviour**

* There should be only one checkbox per package.

**

[2018-10-02 19:38] sarnava1 commented on #237
@Mah1ndra It was my mistake while I was solving another issue. @meets2tarun  I would be happy if I would be assigned this issue as I know what mistake I did and I should rectify it. Sorry @Mah1ndra  but I hope you will cooperate.
Thank you.

[2018-10-02 21:08] #220 closed

[2018-10-02 23:02] tabesin commented on #237
Please sent a PR related to this issue. Should be an easy fix that would be fast-tracked.

[2018-10-02 23:07] tabesin commented on #132
Please add your documentation to the repo.

[2018-10-02 23:09] tabesin commented on #80
I think it is important to add such existing documentation to the repo.

[2018-10-02 23:17] tabesin opened #238 "UX Add upload option for zip/tar.gz file"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

Equivalent to the existing wallpaper upload add an upload option for custom files to be put on the desktop of the custom linux distribution. The Upload button sh

[2018-10-03 02:19] Mah1ndra commented on #237
@sarnava1 I've raised the issue please let me resolve. I think you're already contributing that's great. But give  chance for new people. @meets2tarun  please look into this issue.

[2018-10-03 12:39] sarnava1 commented on #237
@Mah1ndra ok no problem. I just wanted to rectify because it was a silly mistake from my side. But please be fast and send a PR soon. It is a bad mistake.

[2018-10-03 15:43] tabesin commented on #238
@sarnava1 The interface does not permit this for whatever reasons. It should be sufficient for you to claim the issue here.

[2018-10-03 15:44] #237 closed

[2018-10-03 17:42] sarnava1 commented on #234
@meets2tarun I think this issue has already been addressed by @tabesin. So will I close this @tabesin ?

[2018-10-03 17:50] sarnava1 commented on #234
@tabesin you just left out one mistake while fixed the others. I have fixed that. Please review the PR. It is a very trivial grammatical error.

[2018-10-03 18:14] #234 closed

[2018-10-03 19:33] sarnava1 opened #242 "Dropbox option missing from the second table"
**I'm submitting a ...**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The second table should have Dropbox option as it was initially there. Now the Dropbox package installation option is not there.

**Would you like to work on the i

[2018-10-03 19:33] sarnava1 commented on #242
@tabesin I am working on this issue.

[2018-10-04 04:40] pallavi23022 commented on #242
I would like to work on this issue

[2018-10-04 06:09] sarnava1 commented on #242
@pallavi23022 am already working on this issue. You can find other issues meanwhile.

[2018-10-04 08:30] #235 closed

[2018-10-04 09:20] sarnava1 commented on #238
@tabesin I added the repo to my watchlist. Even if we add the UI for the above said issue we also need to work on it in the backend. So, maybe we have to chalk out a plan for how this will go? Coming to the frontend we can easily make another button like the upload wallpaper and add frontend validations to it using js/css/html. We can half the size of the upload a wallpaper button and beside it ad

[2018-10-04 10:29] #242 closed

[2018-10-04 12:49] tabesin commented on #238
Meilix Generator is currently UX only. Same as wallpaper.

[2018-10-04 13:19] sk9331657 opened #245 "Add Badgeyay to Fossasia Projects Menu"
**I'm submitting a ...**
- [x] feature request

**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

Go to [http://127.0.0.1:5000/](http://127.0.0.1:5000/)
Click on right most Icon for projects
![screenshot from 2018-10-04 18-48-11](https://user-images.githubusercontent.com/17084322/46476537-13106280-c806-11e8-9695-cf539f08f167.png)

**Other information:**

**System information

[2018-10-04 13:48] #245 closed

[2018-10-04 14:07] sarnava1 commented on #238
So then should I proceed with this @tabesin ?

[2018-10-04 14:13] sk9331657 opened #247 "Adding Email providers"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Actual Behaviour**

![screenshot from 2018-10-04 19-37-26](https://user-images.githubusercontent.com/17084322/46479586-06dbd380-c80d-11e8-8659-9feb03ab05f9.png)

**Expected Behaviour**

Should open Gmail in new tab.
**Steps to reproduce it**

**Other information:**

**System information:**

[code]
Ubunutu
**Would you like to w

[2018-10-05 08:47] tabesin opened #249 "Make check your mail info more consistent with the app"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Actual Behaviour**
The current check your mail info page is inconsistent with the visual appearance of the app and also does not make sufficiently clear that it belongs to the meilix-generator.

**Expected Behaviour**
It should include the menu bar section of the Meilix app standard page.
It should apply the same CSS as the Me

[2018-10-05 10:56] sk9331657 commented on #249
@tabesin  Can I work on it??

[2018-10-05 15:31] sk9331657 opened #250 "Providing the Selected Background Wallpaper Preview"
**I'm submitting a ...**
- [x] feature request

**Actual Behaviour**
The user can select the image but there should be a preview for it.

![screenshot from 2018-10-05 20-59-00](https://user-images.githubusercontent.com/17084322/46544586-a1a5e200-c8e1-11e8-8f6f-7cab85718d38.png)

**Expected Behaviour**
Image Preview should be Present.

**Other information:**

**System information:**

[code]
Ubunutu

[2018-10-05 21:55] sarnava1 commented on #249
@tabesin I cannot reproduce it. Nothing happens on  clicking the Build button!!

[2018-10-06 04:03] sarnava1 commented on #249
@tabesin please help me in reproducing this. Since I am already familiar with the UI/UX I want to majorly contribute to the project.

[2018-10-06 10:59] meets2tarun commented on #249
@sarnava1 Sometimes build page doesn't work. Discussed majorly here #104.

Try again building, it will work.

Thanks

[2018-10-06 11:34] tabesin opened #252 "MVC compliance refactoring #1 - Inline Style to external CSS"
**I'm submitting a ...**  (check one with "x")
- [x] code refactoring task

**Task**
The code of html templates needs to be checked if it adheres to MVC separation principles.https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller

First task #1 is to review the html template code so that all "style tags" are moved from the html into CSS declarations.

That is to convert all inline CSS

[2018-10-06 12:02] #250 closed

[2018-10-06 12:37] pranav1698 commented on #252
Hey @tabesin,
Starting to work on this issue

[2018-10-06 12:58] sk9331657 commented on #252
@tabesin I have will fix this in my next pr.

[2018-10-06 13:04] pranav1698 commented on #252
@sk9331657 I have already started to work on this issue
You can work on other issues

[2018-10-06 13:06] sk9331657 commented on #252
@pranav1698  This issue was created from https://github.com/fossasia/meilix-generator/pull/251 which was submitted by me as @tabesin  told about opening different else this was to be solved in that pr.

[2018-10-06 13:07] #247 closed

[2018-10-06 13:10] pranav1698 commented on #252
That was another pr
This is a new issue, and I have commented  on it first
Please work on any other You will get plenty of them

On Sat, Oct 6, 2018, 18:36 SHUBHAM KUMAR <notifications@github.com> wrote:

[2018-10-06 19:07] rpotter12 opened #253 "site is not working properly"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

- site is showing blank webpage with the menu-bar when we open the site. It is not showing rest of the content of the site.
- site shows the

[2018-10-07 05:06] sk9331657 opened #255 "Adding a Auto Deployment Button for Meilix"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Actual Behaviour**
No Automatic deployment Button

**Expected Behaviour**

<a href="https://heroku.com/deploy">
  <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
</a>

**Other information:**

**System information:**

[code]

Ubuntu
**Would you like to work on the issue?**

Yes , Definately

[2018-10-07 05:07] sk9331657 opened #256 "https://rpotter.herokuapp.com not working"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
![screenshot from 2018-10-07 10-32-17](https://user-images.githubusercontent.com/17084322/46578362-60feb380-ca1c-11e8-8200-f04f8cfa6519.png)

@rpotter12  Please look at your Heroku app

**Steps to reproduce it**

Go to https://rpotter.herokuapp.com and try to generate the iso.

**Related code:**

[code]

**Other information:**

**Syst

[2018-10-07 10:08] rpotter12 commented on #256
@sk9331657 I will fix it :)

[2018-10-07 12:43] sarnava1 commented on #255
@sk9331657 nice one but be sure the backend is fine.

[2018-10-07 17:04] tabesin commented on #256
This seems to be the triggered build (which is not expected to work right now)
https://github.com/fossasia/meilix/releases/tag/rohit

[2018-10-07 17:19] sarnava1 opened #257 "Add yaydoc, susi.ai for magic mirror and Badgeyay in FOSSASIA projects"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
We should include yaydoc, susi.ai and badgeyay in FOSSASIA projects
 **Would you like to work on the issue?**
YES.

[2018-10-07 20:15] sarnava1 opened #259 "Ideas and suggestions regarding a general website for meilix"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

I think we need a website wherein every information about our project will be available. like an information portal for our project. The present day meilix websit

[2018-10-07 20:17] sarnava1 commented on #259
@mariobehling @hongquan @hpdang all your suggestions and guidance are required for this.

[2018-10-08 10:18] xeon-zolt commented on #256
#228

[2018-10-08 11:13] pranav1698 opened #261 "Validation of uploaded file while uploading image or any other file"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The `Upload Wallpaper` option selects any file in your local machine without validating about the file type or about the size

**Expected Beh

[2018-10-08 11:19] pranav1698 commented on #261
![meilix](https://user-images.githubusercontent.com/34754265/46606306-08addb80-cb1a-11e8-82fd-37e3d9863562.gif)

[2018-10-08 13:59] sk9331657 commented on #255
Already implemented.

[2018-10-08 13:59] #255 closed

[2018-10-08 14:05] sk9331657 opened #262 "Favicon.ico is missing from output page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report

**Would you like to work on the issue?**

Yes

[2018-10-08 14:11] sk9331657 opened #263 "Updating The Gif for latest build"
**I'm submitting a ...**  (check one with "x")

- [x] feature request

Updating this:
https://user-images.githubusercontent.com/34754265/46606306-08addb80-cb1a-11e8-82fd-37e3d9863562.gif
**Would you like to work on the issue?**

Yes

[2018-10-08 14:34] sk9331657 opened #264 "Improving UI and removing misalignment of buttons"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request

![screenshot from 2018-10-08 20-00-31](https://user-images.githubusercontent.com/17084322/46615155-38b6a800-cb35-11e8-8210-340670582c57.png)

**Would you like to work on the issue?**

Yes

[2018-10-08 14:39] tabesin commented on #259
Please have a look at Meilix itself and get it running https://github.com/fossasia/meilix
That is the best documentation. We currently do not need an informational resource for Meilix users as long as Meilix is not fully operational.

[2018-10-08 14:39] #259 closed

[2018-10-08 14:51] sarnava1 commented on #262
@sk9331657 can you please share a screenshot of the issue?

[2018-10-08 14:53] #252 closed

[2018-10-08 14:56] tabesin commented on #262
If so ensure that we do not dublicate code.
https://en.wikipedia.org/wiki/Don%27t_repeat_yourself

[2018-10-08 15:57] sk9331657 commented on #262
@tabesin  Sure.

[2018-10-08 16:01] #257 closed

[2018-10-08 16:15] sarnava1 commented on #257
Thank you @tabesin

[2018-10-08 16:26] tabesin opened #266 "DRY template reorganisation"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Expected Behaviour**
Nest/split existing templates so that build.html also includes the header information of index.html without duplication.

See also:
https://stackoverflow.com/questions/10946795/render-multiple-templates-at-once-in-flask
https://en.wikipedia.org/wiki/Don%27t_repeat_yourself

**Relateted:**

See ticket #262

[2018-10-08 16:32] tabesin commented on #261
See also #107

[2018-10-08 16:35] sk9331657 commented on #266
@tabesin  I am claiming it.

[2018-10-08 18:32] #261 closed

[2018-10-08 18:34] #262 closed

[2018-10-08 18:35] #22 closed

[2018-10-08 18:36] #54 closed

[2018-10-08 19:31] sarnava1 opened #269 "Different favicons in index.html and build.html"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There are different favicons in build.html and index.html

**Expected Behaviour**
The favicons should be same in both the pages

**Would you

[2018-10-09 05:53] rpotter12 commented on #256
@sk9331657 now the link us working.

[2018-10-09 06:41] sk9331657 commented on #264
@rpotter12  Please update your master branch. Your fork is outdated. Update it. Go to your fork and view the commits you fork is behind.

[2018-10-09 06:42] sk9331657 commented on #264
And For this particular version try to minimize screen to get mobile view.

[2018-10-09 07:36] sk9331657 commented on #269
@sarnava1  Both are same please update your forked repo.

[2018-10-09 08:40] pranav1698 commented on #238
@tabesin I am claiming this issue

[2018-10-09 10:53] pranav1698 commented on #107
I am claiming this issue @tabesin @meets2tarun @xeon-zolt

[2018-10-09 11:37] #238 closed

[2018-10-09 11:43] tabesin commented on #269
this is to be solved via https://github.com/fossasia/meilix-generator/issues/266

[2018-10-09 11:43] #269 closed

[2018-10-10 19:39] sarnava1 opened #273 "Make the aspect ratio correct in FOSSASIA projects in the nav bar"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The aspect ratio is not okay in the FOSSASIA projects part present in the navbar

**Expected Behaviour**
The width of the images are fine but

[2018-10-10 19:39] sarnava1 commented on #273
Created this issues as @meets2tarun pointed out this bug in gitter channel

[2018-10-11 10:45] sk9331657 opened #276 "Improving the 404 page using standard homepage templates"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Actual Behaviour**

![screenshot from 2018-10-11 16-14-08](https://user-images.githubusercontent.com/17084322/46798846-b9adb380-cd70-11e8-97a4-99e394cf2f99.png)

Meilix Generator 404 page should be updated with a proper UI.

**Would you like to work on the issue?**

YEs

[2018-10-11 12:46] #276 closed

[2018-10-13 07:13] pranav1698 opened #278 "Using react js framework for frontend of the generator app"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
At this moment, We are using normal html, css, js to code for our generator app; but we can use react library for our frontend as this will a

[2018-10-13 07:51] sarnava1 commented on #278
Seems nice issue to me. But our present site is small enough to do with flask templates I guess. Require more suggestions from mentors and other contributors though.

[2018-10-13 07:57] xeon-zolt commented on #278
can you explain more why should we move to react looks like a epic issue

[2018-10-13 07:59] sarnava1 commented on #278
Yes @xeon-zolt this would be an epic issue.

[2018-10-13 15:10] pranav1698 commented on #278
Thanks for supporting the issue @xeon-zolt @sarnava1;
I know that the site is small but we are doing a lot of things(lot of functionalities in a single file) that is increasing the lines of code to a large number of lines making the code style and the rendering time a bit more which is natural for a single large file

# Reusablity(Making the completion faster)
Even after using code editor like vsc

[2018-10-13 15:32] pranav1698 commented on #278
The idea is not multiple template rendering; but to make a single UI
component and render it into multiple pages; other than that react is made
to make UI better and efficient

On Sat, Oct 13, 2018, 20:49 Sarnava Konar <notifications@github.com> wrote:

[2018-10-14 08:15] abishekvashok commented on #278
Vote against it. Why should we change the whole project to another language. I would advise to discard this, and focus on other issues instead.

[2018-10-14 08:28] pranav1698 commented on #278
Issues like #266 that is a major issue will be eventually solved using react

[2018-10-14 08:32] sarnava1 commented on #278
@pranav1698 your suggestions are perfect if we get a big enough site but for the present condition I think we can stick to flask and maybe later when this project expands we can start off with react from scratch. Isnt it @abishekvashok ?

[2018-10-14 08:53] pranav1698 commented on #278
I understand your point @sarnava1, but i think that seeing the current pace of web development, react will be replaced by a more effective framework that have their base on react,
Why are we still using html, css, js for even a small site when using react we can easilly scale up further also routing that will be a problem can be easilly solved uding client side routing that react provides

[2018-10-15 08:58] #273 closed

[2018-10-15 09:03] meets2tarun commented on #256
We are closing this issue as it's working.

[2018-10-15 09:03] #256 closed

[2018-10-15 09:09] meets2tarun commented on #263
@sk9331657
Are you working on the issue?

[2018-10-15 09:14] meets2tarun commented on #264
@sk9331657
Are you working on this issue?

[2018-10-15 09:38] sk9331657 commented on #264
Yup

[2018-10-15 10:30] meets2tarun opened #279 "Build button seems to be broken"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

The build button doesn't respond while clicking.

**Expected Behaviour**

The build button should trigger Travis to initiate a build.

**Ste

[2018-10-15 12:52] sarnava1 opened #280 "Add a contact section in the navbar"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
We should have a contact section which should appear on clicking the menu icon in the navbar as project susper has.

![contactinsusper](https

[2018-10-15 12:54] sarnava1 commented on #280
@meets2tarun and @tabesin presently we have blogs, code and bug under menus in the navbar. When I was checking out susper I saw about the contact section which they have. I though of having it in our meilix project too subjected to your approval.

[2018-10-15 22:23] sarnava1 opened #281 "Reduce space between the two browse buttons and add the scroll message for the custom files browse button"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There is too much space between the two browse buttons and also between the 2nd table and the first browse button. Also the scroll message do

[2018-10-16 02:16] #281 closed

[2018-10-16 14:29] pranav1698 commented on #279
@meets2tarun I am claiming this issue

[2018-10-16 17:00] sarnava1 opened #283 "Add Desktop-zip logic in the app.py file"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The ALLOWED_EXTENSIONS in the app.py file does not have .gz and .zip but we are accepting files with those extensions for custom files in our

[2018-10-16 17:25] sarnava1 opened #285 "Discussions regarding aboutus page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There is no aboutus page currently but a route exists in app.py file which this PR resolves https://github.com/fossasia/meilix-generator/pull

[2018-10-17 08:41] tabesin commented on #279
The zip file upload option does not contain logic so far.

[2018-10-17 08:43] tabesin commented on #278
Please do not mix frameworks. It is a flask app.

[2018-10-17 08:43] #278 closed

[2018-10-17 08:44] pranav1698 commented on #278
Ok @tabesin

[2018-10-17 08:46] pranav1698 commented on #279
@tabesin If you could see pr#272 I have addded logic for uploading all kind of files

[2018-10-17 08:46] tabesin commented on #283
This is the logic for wallpaper upload. We need distinct analogue logic for zip upload. Do not mix them.

[2018-10-17 08:56] tabesin commented on #279
We have multiple uploads. Wallpaper, desktop-zip and possibly logo which are distinct optional upload files with distinct extentions.

[2018-10-17 08:59] pranav1698 commented on #279
Yeah, that is not a problem If you could check the pr and suggest the changes @tabesin

[2018-10-17 15:57] #283 closed

[2018-10-17 16:58] rpotter12 opened #288 "continuously displaying of functioning of all the fields"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

![screenshot from 2018-10-17 22-11-15](https://user-images.githubusercontent.com/34352567/47102579-bcba0f80-d25a-11e8-9933-2ece79ac7f5f.png)

[2018-10-17 17:45] r0mflip commented on #288
This might revert to #222

[2018-10-17 18:34] pranav1698 commented on #288
This functionality was added responding to issue #207 (Scroll-over was asked basically)

[2018-10-17 18:40] #266 closed

[2018-10-17 18:52] tabesin opened #290 "Browser home page field not mandatory"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request

**Actual Behaviour**
The web app requires you to fill out the form element

**Expected Behaviour**
Filling out this field is optional and if you press "build" and the field has an empty value (because nothing has been entered in the field), then please make sure that a default value of the variable would be assi

[2018-10-17 19:09] pranav1698 opened #291 "Removal of alignment in current build"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The current has removal in the alignment of the dropbox

**Expected Behaviour**
All the checkboxes should be aligned

**Steps to reproduce it

[2018-10-17 19:10] rpotter12 commented on #288
@r0mflip @pranav1698 yes this issue is similar to that #229  . But this issue is for all the fields.

[2018-10-17 20:03] pranav1698 commented on #290
This will automatically solve #279

[2018-10-17 20:15] sarnava1 commented on #249
@tabesin PR #289 solves this issue. You can close this now through PR #289

[2018-10-17 20:19] sarnava1 commented on #290
@pranav1698 are you working on this??

[2018-10-18 05:37] #291 closed

[2018-10-18 05:41] meets2tarun commented on #249
@sarnava1
build button is broken and how do you check that the page appearing after the build button is similar to what has been mentioned here.

[2018-10-18 05:55] meets2tarun commented on #290
@pranav1698 Would you please tell how?

@pranav1698 What do you think how will you work and what are the features will you implement? Please illustrate.

[2018-10-18 05:57] meets2tarun commented on #280
Except susper, FOSSASIA has also other web app, please confirm in those too.

Thanks

[2018-10-18 05:58] meets2tarun commented on #285
About us and contact us can come under same page.
What do you think?

[2018-10-18 06:41] pranav1698 commented on #290
Sorry, for not providing any description
of any kind but i hace tested that when all the all the inputs are filled except the checkboxes the site build button works

[2018-10-18 06:54] pranav1698 commented on #290
At this moment, I am thinking if it can be done with conditional programming
Any suggestions will be invited

[2018-10-18 11:21] sarnava1 commented on #285
@meets2tarun yes it can come under a separate page but in most web apps have them separately. But we can have it in a single page too. Since now we have the DRY template organisation we can easily build and render such pages. Shall I proceed on this 2 pages?

[2018-10-18 15:12] sarnava1 commented on #249
@meets2tarun actually I built the layout for the pages through which I rendered all the pages. Since all the other pages were working fine I safely assumed that since everything was same for all the pages except the block for the body part then the build.html will also work fine. Then the build  button was not working. Now I went through the issues and the discussions following them and found that

[2018-10-18 16:31] meets2tarun commented on #249
Sure @sarnava1
Let's see, go ahead

[2018-10-18 16:32] meets2tarun commented on #280
<img width="1680" alt="screenshot 2018-10-18 at 22 02 03" src="https://user-images.githubusercontent.com/15213246/47169572-8abfb080-d321-11e8-9088-27003de314af.png">

[2018-10-18 16:33] meets2tarun commented on #285
Let's ask @tabesin @xeon-zolt regarding the same

[2018-10-18 16:57] sarnava1 commented on #280
We do not find a contact us section here. Let me search for more web apps.

[2018-10-18 19:14] pranav1698 commented on #290
@tabesin The URL can be made non-mandatory
Do we need a default value

[2018-10-18 19:33] pranav1698 commented on #290
@tabesin and @meets2tarun the problem of the file field being mandatory gets solved if we just remove the `required` attribute in index.html
I have set the default value to None for now

[2018-10-18 20:47] tabesin commented on #280
The question is just if the contact section is needed at this stage. In particular as the core functionality does not work yet. If you want to do it, just proceed. But we shouldn't then have "like 20" pull request to further improve the contacts page because that's lipstick on a pig.

The GUI as it is is good enough. Now it is important to get the UI functionality in and then ensure that the Meili

[2018-10-18 23:30] #279 closed

[2018-10-18 23:30] #290 closed

[2018-10-19 05:43] abishekvashok commented on #59
@meets2tarun I don't think we would need this, do we?

[2018-10-19 07:05] #59 closed

[2018-10-19 08:45] abishekvashok commented on #44
Is this issue still relevant?

[2018-10-19 12:31] #44 closed

[2018-10-19 21:04] rahulkumaran opened #296 "Add * for mandatory fields"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Currently, users don't know what the mandatory fields are. So the user would remain in a dilemma until he submits the form.

**Expected Behav

[2018-10-20 07:35] rahulkumaran opened #298 "Add index page that tells users what meilix is and how meilix generator could be useful"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The website directly takes us to the page that has the form with no information about what meilix or meilix generator is and what it does.

*

[2018-10-20 08:06] rahulkumaran opened #299 "Email not being sent after image is built successfully."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
After the ISO is built successfully and published as a release in the meilix repo, I'm not getting any email with the downloadable ISO link.

[2018-10-20 08:33] tabesin commented on #104
@niccokunzmann, this bug is over a year old and the app changed quite a lot recently, is this still an issue for you?

[2018-10-20 08:35] #56 closed

[2018-10-20 08:56] sarnava1 commented on #299
Will try to reproduce this issue and get back to you.

[2018-10-20 09:04] sarnava1 commented on #298
@rahulkumaran yes this issue was previous raised by me. If you look at issue #280 and #285 then it tries to introduce some info page about meilix. Even I proposed a new site wherein there will be many new features and about meilix. @mariobehling approved of that project and our mentor @tabesin @meets2tarun and @xeon-zolt are already discussing about the issues. You can see the gutter channel for m

[2018-10-20 09:17] rahulkumaran commented on #298
Right! Just saw the Gitter channel and all too. Makes sense

Just one thing though. So I'm not sure if you guys are thinking about creating a new website entirely. But IMO, we could use the existing website and just add one good landing page. Basically it would be about creating a proper index.html with all the information about the project and other necessary info that could help first time contr

[2018-10-20 09:48] rpotter12 commented on #298
we can put a link of readme.md of meilix in meilix-generator webapp. This can also be the alternative for this.

[2018-10-20 10:08] rahulkumaran commented on #298
@rpotter12 could be an alternative but it's better if we don't redirect users to another link just to find out more about the project. People like everything to be at one place when they're using it. Just my opinion though

[2018-10-20 11:16] sarnava1 commented on #298
Yes that's why I proposed issues #280 and #285 wherein we can use the existing structure to add relevant info to the page. Since it is a web app I think a altogether new landing page is not required and like susper we can add the links in the navbar and footer. Just my opinion though. You can visit those issues and see the relevant discussions over there where @meets2tarun and @tabesin gave their

[2018-10-20 11:44] sarnava1 commented on #280
Yes @tabesin it does not require much attention right now. Let this be open for discussions and ages on after the main work is do e we can focus on this.

[2018-10-20 13:06] pranav1698 commented on #298
If we add new pages in the list and still use flask that is using normal html, css, for frontend we would be routing our users to different pages with the help of `server sided routing`; that is pretty old fashioned in terms of present web development standards; I think that's why @mariobehling suggested react or ember for the frontend beacause of the use of client side routing adding that dynamic

[2018-10-20 15:00] pranav1698 opened #300 "The files are not uploaded in the current build"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
I was testing the current build, I found out that the build button works as expected
But if we try to upload file using browse and then click

[2018-10-20 16:37] rahulkumaran opened #301 "Optimize build.html page for mobiles that's displayed in /output route"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
![image](https://user-images.githubusercontent.com/26206171/47258085-dc984000-d4b3-11e8-8ee5-d54108bdaf38.png)
As you can see, everything's o

[2018-10-20 18:53] #296 closed

[2018-10-21 13:30] rahulkumaran opened #305 "Create a telegram bot for meilix"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
No meilix bot present currently

**Expected Behaviour**
Currently no bot exists for people to use to get their custom meilix ISO. Since peopl

[2018-10-21 15:56] abishekvashok commented on #305
I don't if we want that kind of a functionality yet.

[2018-10-22 10:52] rpotter12 opened #306 "meilix logo on meilix-generator webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There is no logo of meilix on meilix-generator webapp.

**Expected Behaviour**

meilix-generator is particularly made for generating ISO fil

[2018-10-22 15:04] #285 closed

[2018-10-23 11:08] sarnava1 commented on #249
This is the build page now:

![outputpageconsistent](https://user-images.githubusercontent.com/25319565/47353998-36c71a00-d6db-11e8-9a07-cbb02e7d79c6.png)

@meets2tarun and @tabesin I think this issue can be closed now through PR #289. Since the issue was to make build.html consistent with the existing UI of the page then the current build.html is consistent with the standard style. @meets2tarun I

[2018-10-23 14:55] rpotter12 opened #307 "redirecting to same page"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

![screenshot from 2018-10-23 20-08-13](https://user-images.githubusercontent.com/34352567/47368728-c7afec80-d6ff-11e8-854d-8d877c127e69.png)

[2018-10-23 16:09] sarnava1 commented on #307
Actually I don't think it is a bug. In navbar the left portion of it is usually reserved for the brand name and logo. Clicking it usually takes us to the landing page of the project. Same is the case here. If you are on build.html or 404.html then clicking on it will take it to index.html. So in that case it is not a bug. What do you say @tabesin @meets2tarun

[2018-10-23 16:11] abishekvashok commented on #307
I also opt it as a feature more than a bug.

[2018-10-23 20:08] sarnava1 commented on #249
Please look into this @tabesin @meets2tarun

[2018-10-23 20:14] #307 closed

[2018-10-23 20:33] tabesin opened #309 "Implement file checking"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ x ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
At present file checking is only for one upload type implemented, with ALLOWED_EXTENSIONS_DESKTOP as a fragment reminder what also could be

[2018-10-24 00:50] #306 closed

[2018-10-24 00:54] tabesin opened #311 "Harmonise the logo and the top bar"
**I'm submitting a ...**  (check one with "x")
- [x] feature request
channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The logo is a colourful rectangle. It would be useful to also change the background colour and the text colour of the top bar.

**Would you like to work on the issue?**
No. Only for Google Code In participants.

[2018-10-24 01:33] tabesin opened #312 "Check for absolute paths"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Actual Behaviour**
The zip files are to be put on the desktop of Meilix. However we do not check if they contain files with absolute paths which should not be the case.

**Expected Behaviour**
Some reasonable, or even heuristic checking if the zips when unpacked in the Desktop folder would stay in the users home dir, in other

[2018-10-24 01:41] #132 closed

[2018-10-24 12:09] #249 closed

[2018-10-24 12:09] #104 closed

[2018-10-24 12:15] meets2tarun commented on #298
FOSSASIA usually wants their webapp (meilix, open-event, badgeyay) to look similar.
This idea will make it look different from others but seems interesting
cc: @fossasia/linux-admin @fossasia/linux-devs

[2018-10-24 12:16] abishekvashok commented on #298
Vote against it.

[2018-10-24 12:35] meets2tarun opened #313 "Remove .vscode"
Remove .vscode folder and put it into .gitignore of the repository.

[2018-10-24 14:55] #313 closed

[2018-10-24 15:52] Ryan10145 opened #315 "Empty Space in Navbar"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [X] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There is unpleasant empty space in the navbar, which should be removed by either reducing the size of the logo or increasing the size of the

[2018-10-25 03:41] #315 closed

[2018-10-25 04:54] sarnava1 commented on #312
Any GCI participants doing this?

[2018-10-25 04:55] sarnava1 commented on #312
@Stealthinator16 you can have a try here.

[2018-10-26 02:04] STEdirisuriya commented on #311
@tabesin it's said you want to change the theme? I'm working on this.

[2018-10-26 02:50] STEdirisuriya commented on #311
I completed the work. See here #318 .

[2018-10-26 10:52] #311 closed

[2018-10-27 17:02] pranav1698 opened #319 "The menu icon in navbar on mouseenter is not visible"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The menu icon in navbar is not visible in when mouse enters the icon or more specifically `mouseenter`

**Expected Behaviour**
The menu icon

[2018-10-27 17:03] sarnava1 commented on #319
@pranav1698 well spotted.

[2018-10-29 18:06] #319 closed

[2018-10-30 19:32] rahulkumaran opened #322 "Add docs to deploy on GCP Cloud Shell"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
No docs that support how to deploy the app on GCP

**Expected Behaviour**
Currently we have steps to deploy on Heroku. I think it would be gr

[2018-10-30 19:35] rahulkumaran commented on #298
@meets2tarun @mariobehling @tabesin any updates on this?

[2018-11-03 09:14] rajvaibhavdubey opened #323 "Update icon of badgeyay"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

The old icon of badgeyay is being used.

**Other information:**

**System information:**

[code]

**Would you like to work on the issue?**

[2018-11-03 09:40] rajvaibhavdubey opened #325 "Improve the footer of the webapp"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Currently the footer only displays info about builds and releases, it should also display information like repositories, fossasia, github etc

[2018-11-03 10:15] sarnava1 commented on #325
I don't think that is required now. We are already having those features in the navbar. Need more opinions on this @mariobehling @abishekvashok @tabesin @meets2tarun

[2018-11-03 11:23] rajvaibhavdubey opened #326 "The navbar menu appears stretched"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The navbar menu appears to be stretched .

![screenshot from 2018-11-03 16-51-29](https://user-images.githubusercontent.com/33062425/47951593

[2018-11-03 11:30] rajvaibhavdubey commented on #325
I think that footer is a must for any site as it may provide legal information like privacy and tnc for the future versions of site and some less relevant information which may not be provided in the navbar like follow us on twitter, github.

[2018-11-03 11:49] abishekvashok commented on #325
I vote against it. we just follow the looks of other webapps of fossasia

[2018-11-03 11:55] sarnava1 commented on #325
I too think that this is note necessary at the moment.

[2018-11-03 11:58] sarnava1 commented on #326
Actually the second screenshot is of susper project. The thing is we added all the FOSSASIA projects involved in codeheat to the menu section and that is the reason it got stretched. Also there was some aspect ratio issues for which the icons were made larger. I don't think that we need to move forward with this issue now. Completely my opinion though. @mariobehling @meets2tarun @abishekvashok @ta

[2018-11-03 12:08] abishekvashok commented on #325
Let's reopen it if anyone else wants it.

[2018-11-03 12:08] #325 closed

[2018-11-03 12:09] abishekvashok commented on #326
Why can't we? I guess we can fix it

[2018-11-03 12:09] rajvaibhavdubey commented on #326
Yeah, I added the screenshot of susper. Addition of items is no reason for menu section to get stretched as it will only add an extra row to the menu, the icons are getting stretched . The icons are getting stretched due to impropper width and height .

[2018-11-03 14:03] #323 closed

[2018-11-04 14:37] #301 closed

[2018-11-05 17:47] rahulkumaran opened #327 "Link for yaydoc is not working in navbar"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
On clicking the yaydoc logo in the navbar, the website for yaydoc doesn't load.

**Expected Behaviour**
On clicking, the link should redirect

[2018-11-06 09:17] plxity opened #329 "On hovering the last element is not completely inside the box"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
On hover, the last element is not completely inside the box
![2018-11-06 2](https://user-images.githubusercontent.com/28510494/48052473-0a78c

[2018-11-07 19:02] Haider8 commented on #329
hey @plxity , are you still working on this issue?

[2018-11-08 05:44] plxity commented on #329
Hey @Haider8, I was working on it.

[2018-11-08 16:35] #329 closed

[2018-11-08 17:45] imahumanrcw opened #331 "Default Search Engine Field Too strict"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [!] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

When you enter your webpage, people won't really suppose they will have to type the https:// tag in. Maybe remove some restrictions, or mayb

[2018-11-08 19:39] #300 closed

[2018-11-08 19:55] pranav1698 opened #333 "Their is no uploads folder in the directory"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There is no seperate directory for storing the uploaded files

**Expected Behaviour**
 There should be a location for storage of the uploaded

[2018-11-08 20:00] pranav1698 commented on #333
The scope of this issue is small, we can add logic for uploading into a seperate folder after this has been resolved

[2018-11-08 20:39] #333 closed

[2018-11-08 21:16] pranav1698 opened #335 "No configuration of the wallpaper, zip-files, logo directory in app.py file"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
File app.py in the current build does not contain  configuration for seperate  upload directories

**Expected Behaviour**
The file should con

[2018-11-09 05:43] rajvaibhavdubey commented on #264
@sk9331657 Are you still working on this? I would like to solve this.

[2018-11-09 08:23] rajvaibhavdubey opened #338 "Automatic deployement for PR's with surge."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**System information:**

[code]

**Feature Description**
Frontend can be deployed to surge.sh for each PRs and thus testing would be easy.

**Would you like to wo

[2018-11-10 12:19] pranav1698 opened #340 "Updating the templates and app.py file multiple uploads"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

**Expected Behaviour**
After #336 is merged, The template file and the flask file do not have integration of addition of file in seperate di

[2018-11-10 15:00] #338 closed

[2018-11-10 15:01] #326 closed

[2018-11-10 15:02] #340 closed

[2018-11-10 15:03] #335 closed

[2018-11-11 11:57] ammarbinfaisal commented on #305
who would want an iso via telegram? or even a link to download that prepared iso as thta would be difficult as compared to generating it from the webapp

[2018-11-11 12:06] r0mflip commented on #305
@rahulkumaran a bot doesn't look like a necessity in any way

[2018-11-11 13:51] rajvaibhavdubey opened #342 "Include surge deployement script in the issue template"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Would you like to work on the issue?**
Yes

[2018-11-11 14:08] abishekvashok commented on #305
@tabesin @meets2tarun views

[2018-11-11 14:16] sarnava1 commented on #305
I too feel a bot is not required in the present circumstances.

[2018-11-11 16:29] #91 closed

[2018-11-11 21:51] #305 closed

[2018-11-13 20:54] w3x10e8 commented on #342
- [x ]

[2018-11-13 20:57] w3x10e8 opened #344 "Enabling Bootstrap tooltip to input boxes"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meili

Would you like to work on this issue?
**Yes**

[2018-11-16 08:42] #344 closed

[2018-11-17 06:16] meets2tarun commented on #264
For the time being, anyone can directly send a patch to this issue.

Thanks

[2018-11-17 06:17] meets2tarun commented on #298
Go for it @rahulkumaran

[2018-11-17 06:18] meets2tarun commented on #322
Yes, this can also be implemented.

[2018-11-17 06:36] rajvaibhavdubey commented on #264
I'm working on this.

[2018-11-17 12:50] sarnava1 commented on #322
Yes this could be one nice feature. I saw your youtube video where you were teaching about gcp deployment.

[2018-11-17 12:51] sarnava1 commented on #331
Nice issue! Are you working on it?

[2018-11-17 17:52] ammarbinfaisal commented on #309
If I am correct this isn't the case now.
`ALLOWED_EXTENSIONS_WALLPAPER, ALLOWED_EXTENSIONS_LOGO, ALLOWED_EXTENSIONS_DESKTOP` are being checked now.
or am I misunderstanding something

[2018-11-18 21:56] #264 closed

[2018-11-19 19:11] pranav1698 opened #348 "Email Input-Size is small on visiting the site and gets normal on scroll-over"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
When you open the site or refresh the site the email input appears small,
![screenshot from 2018-11-20 00-33-33](https://user-images.githubus

[2018-11-19 20:41] sarnava1 commented on #348
Good issue. @STEdirisuriya you can try this one.

[2018-11-29 23:14] tabesin commented on #79
here is the mock solution guys:
sed -i 's/Lubuntu/${TRAVIS_TAG}/' image/.disk/info

Of course it does not have to be done like this, just to get you the idea. image/.disk/info is a one line file.
Of course we need proper range checks, no spaces etc.

[2018-11-29 23:18] tabesin commented on #79
E.g. the file image/.disk/info may contain the single line
HotelOS 12.10 "Quantal Quetzal" - Release i386 (20121017.1)

whatever the first word becomes hostname and user name

[2018-12-01 21:48] Ryan10145 opened #351 "Improve UI of Dropdown Menu"
**I'm submitting a ...**  (check one with "x")
- [X] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There are various UI issues with the dropdown menu
- The items in the menu have varying heights
![image](https://user-images.githubuserconte

[2018-12-01 23:59] #351 closed

[2018-12-02 00:20] tabesin commented on #309
not properly

[2018-12-02 03:35] sahilsaha7773 commented on #288
I want to work on this issue

[2018-12-02 06:02] Ryan10145 commented on #288
@sahilsaha7773 I just claimed the GCI task "Meilix-generator: continuously displaying of functioning of all the fields in meilix-generator web app.", so can I work on this? Unless you've also claimed the GCI task for this.

[2018-12-02 06:30] Ryan10145 commented on #288
@sarnava1 How exactly would that work?

[2018-12-02 06:39] sarnava1 commented on #288
Don't worry @Ryan10145. You both can pitch in with your solutions. The better one will get merged. Anyways if this is bothering a lot then I will make the instance of task 1 only.

[2018-12-02 07:35] #288 closed

[2018-12-02 07:59] sarnava1 opened #354 "Email input field should begin on a new line"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The present email input field begins on the same line which says that "Fields with * after it are required". Please make it on a new line.

*

[2018-12-03 12:31] r0mflip commented on #288
You are making it usable to the only people who have
1. Functioning eyes
2. Has a mouse to use on their device (what about mobiles?)

And a screen-reader wont get it anyway.

[2018-12-03 17:36] pranav1698 commented on #348
@tabesin this is solved in the current build

[2018-12-03 18:01] pranav1698 opened #355 "The Dropdown menu and the menu button is not responsive for mobiles"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The drop down menu and the menu button is not responsive for mobiles
![screenshot_20181203_231018](https://user-images.githubusercontent.com/

[2018-12-04 09:03] sbeesm commented on #354
Hi! First time contributor here. Can I work on this one?

[2018-12-04 09:04] sarnava1 commented on #354
Are you participating in GCI @sbeesm ?

[2018-12-04 09:43] sbeesm commented on #354
Oh no I'm not. Sorry, I should've read the requirement more carefully. My bad.

[2018-12-04 09:53] sarnava1 commented on #354
Never mind @sbeesm . You can look out for more issues in the issue tracker and if this is not solved by GCI students then you may go for it after GCI ends.

[2018-12-04 12:15] STEdirisuriya opened #356 "Change the colour of text boxes, buttons etc. as the theme."
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request

**Actual Behaviour**

Items in the window(text boxes, buttons...) are not similar to the theme.

**Expected Behaviour**

Change the colour of text boxes, buttons etc. as the theme.
I have attached some examples, (they are only examples)
![image](https://user-images.githubusercontent.com/33794760/49441377-4d89820

[2018-12-04 12:19] rpotter12 commented on #356
@STEdirisuriya the web-app generator should be similar to other fossasia web-app generators

[2018-12-04 18:05] sbeesm commented on #354
Sure. Thanks!

[2018-12-04 18:05] tabesin commented on #356
We could of course ask UX designers to make a visual draft and implement it.The examples do not convince me so far but that is just for getting the idea as I understand.

[2018-12-05 10:47] STEdirisuriya commented on #356
@tabesin

Yes, I think it should change, because there are a lot of issues with the theme. Some of them are as follows,
- There is more free space between text boxes and the window, it needs to increase the width.
- The text that displayed when hovering is needed to change as a tooltip or something like that; when the button/text-box is not hovering there is huge space between them.
- The blue col

[2018-12-05 11:43] sarnava1 commented on #356
@STEdirisuriya The points you have raised is good. You can open individual issues for each of them and then we will be happy to discuss it.

[2018-12-05 11:54] STEdirisuriya opened #357 "The drop-down should change"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

The drop-down doesn't show all the icons at once.
![image](https://user-images.githubusercontent.com/33794760/49511806-2a290a80-f8b2-11e8-9b

[2018-12-05 12:31] pranav1698 commented on #355
Go ahead

On Wed, Dec 5, 2018, 17:58 Srihari <notifications@github.com wrote:

[2018-12-06 15:02] STEdirisuriya commented on #356
@sarnava1 Oh, sure!! :smile:

[2018-12-06 15:04] STEdirisuriya opened #361 "Remove free space between text boxes and the window!"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

There is more free space between text boxes and the window, it needs to increase the width.
Related #356

**Expected Behaviour**

Increase t

[2018-12-06 16:23] STEdirisuriya commented on #356
I'll open issues one by one.

[2018-12-07 03:57] asifsadek opened #363 "make a folder to gather the image file."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [x] feature request
channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The file in https://github.com/fossasia/meilix-generator/tree/master/static which are .png giving us problem.We can't understand the hoto of which category.In evert file you did same.

**Expected Behaviour**

**Steps to reproduce it**
Please add a

[2018-12-07 13:23] PulkitMishra commented on #348
Close this issue maybe(?)

[2018-12-07 15:39] PulkitMishra commented on #299
@rahulkumaran does the issue still persist?

[2018-12-08 11:42] #331 closed

[2018-12-08 15:11] PulkitMishra commented on #363
I am sorry @asifsadek  , but I am unable to comprehend as to what you are looking for. Could you please be more clear.

[2018-12-09 06:34] plxity opened #366 "On hovering the last element, It includes unwanted text."
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
![2018-12-09](https://user-images.githubusercontent.com/28510494/49694088-4aeeaa00-fba9-11e8-91dc-a346f7d9e122.png)

**Expected Behaviour**
!

[2018-12-09 12:11] #366 closed

[2018-12-10 14:40] STEdirisuriya commented on #355
I would like to work on it.

[2018-12-10 14:40] sarnava1 commented on #355
@STEdirisuriya take it up!

[2018-12-10 14:41] pranav1698 commented on #355
Go ahead @STEdirisuriya awaiting the pr

[2018-12-10 14:43] sk9331657 opened #368 "Adding a demo Gif in Readme.md showing the building of ISO"
**I'm submitting a ...**  (check one with "x")
- [x] feature request

**Expected Behaviour**
There should a gif showing the development of ISO

**Would you like to work on the issue?**

yes

[2018-12-10 15:01] STEdirisuriya opened #369 "Improve code quality!"
**I'm submitting a ...**
- [x] bug report
- [x] feature request

**Actual Behaviour**

- [ ] Unwanted css
![image](https://user-images.githubusercontent.com/33794760/49740285-e4a57c80-fcb9-11e8-98f1-32cf816119c2.png)
- [ ] Duplicate stylings
![image](https://user-images.githubusercontent.com/33794760/49740345-f555f280-fcb9-11e8-8c1a-e95b42ed7ba4.png)
- [ ] Errors
![image](https://user-images.githu

[2018-12-10 15:06] pranav1698 commented on #369
Seems like many of the bootstrap files are causing these redundancy let me look on it

[2018-12-10 15:15] pranav1698 commented on #363
I am claiming this issue

[2018-12-10 15:35] parammittal16 commented on #361
Hi @STEdirisuriya I want to work on this

[2018-12-10 15:36] parammittal16 commented on #368
@sk9331657 can i work on this ?

[2018-12-11 11:08] #363 closed

[2018-12-11 14:19] STEdirisuriya commented on #361
@parammittal16 Go ahead! good luck

[2018-12-12 06:58] parammittal16 commented on #361
@STEdirisuriya should the textboxes span the whole page width? will it look good?

[2018-12-12 09:00] mariobehling commented on #369
This is not a specific issue. Code quality is always a topic.

[2018-12-12 09:00] #369 closed

[2018-12-12 09:01] #355 closed

[2018-12-12 09:02] #322 closed

[2018-12-12 09:02] #342 closed

[2018-12-12 09:02] #348 closed

[2018-12-12 09:02] #368 closed

[2018-12-12 09:11] mariobehling opened #371 "Implement new style following market leaders"
Most issues in the generator are related to smaller design improvements. There is no target of what design should be achieved and reviewing small issues and PRs takes up time of developers. Rather than implementing a new design please follow the design of market leaders on the web. Please take inspiration from Google and follow their approach. Use similar fonts, icons and headings of the material

[2018-12-12 10:14] niteshkumarniranjan commented on #371
Working on it.

[2018-12-12 10:59] niteshkumarniranjan commented on #371
@rajvaibhavdubey You want to work on this?

[2018-12-12 11:21] sarnava1 commented on #371
@niteshkumarniranjan I think Mario sir asked you to implement the codepen demo in a single page. Are you working on that? We all can collaborate on that work then.

[2018-12-12 12:46] niteshkumarniranjan commented on #371
@sarnava1 Yep! he asked me to implement me and I have started to work on it. but I will not mind if someone wants to give it a try.

And yeah we can collaborate on it and maybe I will need your help to understand how the project structure.

[2018-12-13 09:37] meets2tarun commented on #371
@niteshkumarniranjan
Great to see you Nitesh.

[2018-12-13 10:42] niteshkumarniranjan commented on #371
@meets2tarun Thanks :)

[2018-12-24 18:47] pranav1698 opened #373 "The uploaded files are not accessible in the current build"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
In the current build, files are successfully uploaded in separate folders but t is not accessible by the server and it gives 404 or 403 error

[2018-12-25 19:51] pranav1698 opened #375 "The pr_deploy script is exiting without deployment on surge"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The pr_deploy script for auto-deployment on surge is not working and exiting with error:
`Aborted - No such file or directory: —project`

**E

[2019-01-03 14:18] #373 closed

[2019-01-07 14:13] pranav1698 commented on #263
@sk9331657 are you working on it?
Can I claim this issue

[2019-01-07 15:46] pranav1698 opened #377 "Missing instances in the my_token readme file"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
In my_token markup file, some of the instances are not present and some give errors like file not found;
Some may find the instructions hard

[2019-01-07 15:57] pranav1698 opened #378 "Page not found when clicking on `my_token.md` in the readme file"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
When you click on the link to the my_token file given in the README file you will get the

![screenshot from 2019-01-07 21-25-25](https://use

[2019-01-08 16:32] pranav1698 commented on #116
What tests we need to run for this issue?
We cannot run test for the index function because it requires a live HTTP request and which will make the travis build fail

[2019-01-09 06:38] pranav1698 opened #381 "File checking- build passes even after adding an file which is not allowed (eg, html,etc;)"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
In the current site, the build passes even after the file uploaded is not of the extension is not allowed
This means that the file checking i

[2019-01-09 06:41] pranav1698 commented on #309
Opening a new issue related to errors with file checking in the current site #381 and opening up a pr for the using function calls making it somewhat abstarct

[2019-01-09 16:35] #378 closed

[2019-01-15 20:45] rajvaibhavdubey opened #383 "Cross origin destination links are unsafe"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
`rel=noopener` should be added to the cross origin links

**Would you like to work on the issue?**

Yes

[2019-01-18 11:14] pranav1698 opened #384 "Way to handle the file extension error rather than just rendering the build template"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
We need a way to handle the file extension error as mentioned in #381
Either a new page or a new application error handler
In the current bui

[2019-01-19 15:38] #371 closed

[2019-01-19 15:40] #375 closed

[2019-01-19 15:40] #377 closed

[2019-01-20 19:57] rajvaibhavdubey opened #385 "Use the actual logo of meilix"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The site is using another logo, we need to use the original logo.

**Would you like to work on the issue?**
Yes

**Screenshots**
![screenshot

[2019-01-20 20:01] rajvaibhavdubey opened #386 "Update the dropdown with new projects"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The dropdown needs to be updated with the latest projects

**Would you like to work on the issue?**
Yes

[2019-01-20 20:39] tabesin commented on #385
+1

[2019-01-20 20:42] tabesin opened #387 "Improve contrast of new theme"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

The new theme lacks contrasts, which makes it difficult to follow on some devices.

**Expected Behaviour**

**Steps to reproduce it**

**Rel

[2019-01-21 11:31] rajvaibhavdubey commented on #387
I would like to fix this.

[2019-01-21 12:08] #387 closed

[2019-01-23 16:46] #385 closed

[2019-01-23 18:13] #384 closed

[2019-01-25 04:03] prabhupant opened #392 "Modify the docker docs"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
the docker doc lacks proper formatting and look

**Expected Behaviour**
the docker docs should be more modified

**Steps to reproduce it**

*

[2019-01-25 15:09] #383 closed

[2019-01-25 15:10] #392 closed

[2019-01-27 14:13] #381 closed

[2019-02-03 19:41] pranav1698 commented on #124
@niccokunzmann @meets2tarun I think this will make our work of sending the variables to travis much more easier

[2019-02-03 19:42] pranav1698 commented on #124
I would like to work on this

[2019-02-04 07:39] niccokunzmann commented on #124
Yes, this should make it much easier. Please go ahaead if you like.

On 2/3/19 8:42 PM, Pranav Kulshrestha wrote:

[2019-02-04 07:46] pranav1698 commented on #124
Sure, i will work on it

[2019-02-04 17:15] pranav1698 commented on #299
@rahulkumaran this functionality is working now
You can close it

[2019-02-04 17:18] pranav1698 opened #394 "Setting the generator_package variables in a enviroment variable converting it into a JSON string"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Short Description**
Setting the generator_package variables in a enviroment variable converting it into a JSON string
This will make it easier to send the varia

[2019-02-05 03:53] #299 closed

[2019-02-05 19:00] #111 closed

[2019-02-06 09:29] #394 closed

[2019-02-06 09:38] tabesin commented on #386
The dropdown was part of the consistency project. The underlying objective was to make the web site very similar in appearance and toolchain to the existing Fossasia web apps to ensure that contributors would easily understand the code base and that we establish a common standard in Fossasia, so improvements of one project may benefit the other. E.g. when you translate Susi.AI web app and Meilix g

[2019-02-06 09:39] tabesin commented on #88
Is this resolved?

[2019-02-07 18:50] pranav1698 opened #397 "Sending the generator package variables to the build server"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
After #396 is merged we need a way to send the generator packages array from the webapp to the build server

**Would you like to work on th

[2019-02-07 19:10] pranav1698 commented on #397
@tabesin @niccokunzmann I have figured out and tested the way in which we can send the packages array from the webapp to the server
If #396 is merged I can proceed through it

[2019-02-08 07:56] pranav1698 opened #398 "Replacing the way to send the wallpaper, logo, and zipfiles from the webapp to build server"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
In the current build, wallpaper in stored in the wallpapers folder in the server and previously this was accessed during the build by acces

[2019-02-10 15:00] xeon-zolt commented on #398
you are talking about race condition yes it can happen you can send wallpaper in the api as base64 and keep storing them in with a randmon name lets say we use uuid for that

[2019-02-11 12:55] pranav1698 commented on #398
I have tried the idea of sending the wallpaper to the API encoding with base64, that happens after #396 is merged, but I have not tested the wallpaper

[2019-02-11 19:50] tabesin commented on #398
Please also keep @meets2tarun in the loop and let's experiment.

[2019-02-11 19:53] #124 closed

[2019-02-13 17:27] pranav1698 opened #400 "The feature toggles do no post any input on form submission"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Currently we have toggles for various features that are required in the Meilix Custom ISO
But, we are not submitting this inputs with the for

[2019-02-13 23:18] #397 closed

[2019-02-15 19:57] pranav1698 opened #401 "Cleanup and Refactoring- removing old previous debugs and unnecessary files"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Short Description**
After switching into sending the trigger requests to the build server, debugging codes, tokens file, script file. I think that this is not r

[2019-02-15 20:15] pranav1698 opened #402 "Adding more documentation for deployment to help for using the generator locally"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
Currently, we have two files documenting the steps to be taken for the purpose of making the backend of the generator work.
Adding more doc

[2019-02-16 20:46] pranav1698 opened #405 "Meilix builds are failing because of the way we are sending the json array currently"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The current meilix build that gets triggered when using the webapp fails, if we use the json array `features` in the meilix build for install

[2019-02-18 15:03] #401 closed

[2019-02-18 15:04] #402 closed

[2019-02-18 16:30] #405 closed

[2019-02-19 15:01] pranav1698 opened #407 "Replacing the current logo to one related to meilix"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Short Description**
Replacing the current logo of the meilix-generator to one more relatable to meilix
Current:
![screenshot from 2019-02-19 20-30-19](https://u

[2019-02-22 19:43] pranav1698 commented on #398
@tabesin @xeon-zolt I have tried sending the wallpaper as an encoded base64 string,
The problem is that the base64 strings will be so big for a large image that when this will be send to the server as an environment variable, it becomes an unbound variable and cannot be stored in bash script so the build gives a error.
The method would work for a smaller image (<500 KB) but it will not work for a

[2019-02-22 20:03] #407 closed

[2019-02-22 20:13] xeon-zolt commented on #398
I have a plan
1. user will upload an image for wallpaper
2. then we upload it to transfer.sh
3. then we get a link from transfer.sh
4. then we send that link to Travis ci
5. Travis ci will download from transfer.sh
6. build iso using the downloaded wallpaper

[2019-02-22 20:13] xeon-zolt commented on #398
![aww-board](https://user-images.githubusercontent.com/4529442/53268538-6713d900-370c-11e9-8a08-f86e902fb76a.png)

[2019-02-22 21:16] tabesin commented on #398
If you implement third party services for practical reasons also ensure that the mechanism works without that service. That is the basic proof of concept must be without such external dependencies. If they are added then in a way that you could disable them without coding.

[2019-02-23 06:44] xeon-zolt commented on #398
I too have fear of being reliable on third party service so we can do one
thing can add multiple services like these and use try except block so in
case any one is down other will be automatically be used

On Sat, 23 Feb, 2019, 2:46 AM tabesin, <notifications@github.com> wrote:

[2019-02-23 19:48] pranav1698 opened #409 "The 32bit or 64bit support toggle does not provide any information submission"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
The 32bit or 64bit toggle does not provide any information on form post.

**Would you like to work on the issue?**
Yes

[2019-02-27 06:31] pranav1698 opened #412 "Desktop image for applications even though they are not installed in the ISO"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There exists a desktop of applications that are not installed in the ISO,
This is caused due to all the image files existing in the meilix-de

[2019-02-27 06:32] pranav1698 commented on #412
@tabesin @xeon-zolt @meets2tarun can we have a discussion on this issue

[2019-02-27 06:33] pranav1698 commented on #412
@tabesin @xeon-zolt @meets2tarun can we have a discussion on this issue

[2019-02-27 06:33] #412 closed

[2019-02-27 14:26] tabesin commented on #412
It is not a blank image but a desktop link. You could remove that, should be somewhere in the package. Maybe in skel.

[2019-02-27 14:32] pranav1698 commented on #412
Sorry @tabesin, opened in the wrong repo
I think this should be dependent if the user wants to install the package or not, I will update if I get any dificulties in implementing this either in the channel or in the issue itself

[2019-03-01 14:10] pranav1698 opened #413 "https://eventyay.com/e/3689bc98/?code=FOSSASIAFRIENDS"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
After #411 user specified features will be stored in a array `features`
We will have to sent the `features` array from the webapp to the me

[2019-03-01 14:11] #413 closed

[2019-03-01 14:12] pranav1698 opened #414 "Sending the features from the webapp to the meilix build server"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
After #411 user specified features will be stored in a array `features`
We will have to sent the `features` array from the webapp to the me

[2019-03-02 18:34] pranav1698 commented on #263
@sk9331657 we can close this one

[2019-03-04 12:36] #400 closed

[2019-03-04 14:07] #409 closed

[2019-03-05 17:17] #414 closed

[2019-03-06 13:35] alok760 opened #416 "Display Error message on bad trigger requests"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
On form submit the output page displays  "Success! Email will be sent with the downloadable ISO link once it is ready" even on bad trigger re

[2019-03-06 15:34] pranav1698 opened #417 "Currently the meilix build fails when triggered by the webapp, if the 32bit support is not chosen"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The meilix builds fails when triggered by the webapp, if the 32bit support is not chosen because the value of processor variable that is bein

[2019-03-07 10:56] #417 closed

[2019-03-10 07:37] xeon-zolt opened #420 "lets keep secret key as a env variable on heroku"
although we don't use secret key features like signing a cookie or creating a session maybe in future, we may start doing that so I think its best practice to secure it

[2019-03-11 06:44] alok760 commented on #420
I'm working on this, will open a corresponding issue to update documentation as well

[2019-03-11 09:32] #416 closed

[2019-03-12 10:05] alok760 opened #422 "custom travis api URL"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Changing Travis API request to point to your own fork of Meilix requires a change in the USER variable in build.py.

**Expected Behaviour**
A

[2019-03-14 08:58] #422 closed

[2019-03-14 08:58] #420 closed

[2019-03-14 12:54] alok760 opened #424 "Add documentation for configuring flask secret key"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
There is no documentation for configuring flask secret key.

**Expected Behaviour**
- Add documentation for configuring flask secret key usin

[2019-03-15 19:20] #398 closed

[2019-03-16 04:54] pranav1698 commented on #424
It would be great if this could be hidden

[2019-03-16 06:36] alok760 opened #426 "changing the way logo is sent to travis"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The current method of sending the logo to Travis is subject to race around condition.

**Expected Behaviour**
Upload the logo to a server(3rd

[2019-03-16 07:41] pranav1698 opened #427 "Webapp gives `Sorry, unexpected error: 'wallpaper_url'` on clicking the building button"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The current meilix generator webapp generates a unexpected error: `Sorry, unexpected error: 'wallpaper_url'`

**Expected Behaviour**
We shoul

[2019-03-16 08:03] xeon-zolt commented on #424
the original secrete key is different

[2019-03-16 08:07] xeon-zolt opened #428 "handle case when wallpaper is not uploaded"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
wallpaper not added in the form

**Expected Behaviour**

some error or warning or default wallpaper should be their

**Steps to reproduce it*

[2019-03-16 08:09] xeon-zolt commented on #428
#398

[2019-03-16 10:47] #428 closed

[2019-03-16 11:28] #427 closed

[2019-03-16 13:21] #426 closed

[2019-03-16 13:22] xeon-zolt commented on #427
its good that we are covering edge cases too

[2019-03-18 08:28] pranav1698 commented on #424
Also, I think this would require admin rights from the heroku server but you can test it for your local development

[2019-03-18 11:07] xeon-zolt commented on #424
i have already changed it

[2019-03-20 12:33] tabesin opened #431 "Add selection darfk/light theme"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
Offer both a dark and a light desktop theme and start by adding an option to the generaor app. Meilix installs both but sets the chosen one a

[2019-03-20 12:43] pranav1698 commented on #431
I would like to work on this issue, this can be solved with a toggle

[2019-03-21 08:55] rpotter12 opened #434 "error in opening webapp"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

![Screenshot from 2019-03-21 14-23-55](https://user-images.githubusercontent.com/34352567/54741671-2f9e2c80-4be5-11e9-98bc-862494759db0.png)

[2019-03-21 15:36] pranav1698 commented on #434
@rpotter12 the webapp must work after some time, this is because of heroku outages and can be checked by seeing one of the other generator sites:
![Screenshot from 2019-03-21 21-05-22](https://user-images.githubusercontent.com/34754265/54764076-14e7aa00-4c1d-11e9-8ff6-05d7be400f73.png)

[2019-03-22 07:42] #431 closed

[2019-03-23 08:54] pranav1698 commented on #434
@xeon-zolt @meets2tarun please update us with the heroku logs

[2019-03-26 15:46] rpotter12 opened #435 "add response to checkbox"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

add the response to checkbox to check which packages need to be installed in the iso

**Would you like to work on the issue?** YES

[2019-03-26 21:05] #435 closed

[2019-04-01 15:27] pranav1698 commented on #434
@rpotter12 the webapp works now you can close this one

[2019-04-01 15:30] pranav1698 opened #437 "Unexpected error on clicking the build button"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
The current build of the webapp on clicking the build button gives the following error:
`Sorry, unexpected error: str expected, not list`

**

[2019-04-01 18:05] pranav1698 commented on #437
@tabesin, the pr #436 was not required and it is causing this error if you see the codebase the `feature` array and `INSTALL` array is the same we are just adding another environment variable which has already been added just with a different name, so I think we should stick with what was done previously

[2019-04-01 19:13] rpotter12 commented on #437
@pranav1698 according to https://github.com/fossasia/meilix-generator/issues/121 we have give option for chrome also and for INSTALL array I was implementing the solution in my way but get busy in college stuff.

[2019-04-01 19:16] pranav1698 commented on #437
@rpotter12 I understand that but the same thing is happening with the recipe array you can check it on the codebase the response is already added

[2019-04-02 15:27] pranav1698 opened #439 "Providing options to the user to upload the wallpaper, logo or the custom files"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Expected Behaviour**
Currently, the webapp only provides the user the option to upload a binary and then we convert it into a hosted url which is then used in t

[2019-04-13 08:43] abishekvashok opened #440 "Vulnerabililty alert | Update dependency"
**I'm submitting a ...**  (check one with "x")
- [x] bug report

Jinja2 vulnerability found in requirements.txt

**Remediation**
Upgrade Jinja2 to version 2.10.1 or later. For example:
[code]

**Details**
CVE-2019-10906 https://nvd.nist.gov/vuln/detail/CVE-2019-10906
- High severity
- Vulnerable versions: < 2.10.1
- Patched version: 2.10.1

[2019-04-15 16:34] nk521 commented on #434
@rpotter12 you can close this as now the issue is solved

[2019-04-15 18:55] #434 closed

[2019-07-16 19:41] #437 closed

[2019-07-16 22:03] tabesin commented on #440
Fixed. Generally just fix this, no need to file a bug.

[2019-07-16 22:03] #440 closed

[2019-07-22 12:33] Patil2099 commented on #424
Can I work on this ? If yes can you explain how to add something to documentation.
Also  # Initializing flask secret key using the environment variable "secret_key"
 app.secret_key = os.environ.get('secret_key', 'z528&^FJjhd_t2bxc#$2').encode()
 what is the second argument here? @alok760

[2019-07-22 19:08] alok760 commented on #424
@Patil2099 the second argument is the default value. To change the secret key, you need to set an environment variable `secret_key`.  You already need to set your [Travis Key](https://github.com/fossasia/meilix-generator/blob/master/docs/installation/my_token.md) as an env variable, similarly, you need to set the flask secret key.

[2019-07-23 11:50] abishekvashok commented on #424
You can put that to Travis CI as a secret env variable, make it write to the python file and then deploy to heroku.

[2019-10-05 11:42] STEdirisuriya opened #441 "Logo in the tab and header are different"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

Logo in the tab and header are different

**Expected Behaviour**

It should be a one logo

**Steps to reproduce it**

Remove older one.

**R

[2019-10-05 11:43] STEdirisuriya commented on #441
Can I work on this?

[2019-10-05 12:44] xeon-zolt commented on #441
yes

[2019-10-14 05:26] #441 closed

[2019-10-25 04:21] Dishebh commented on #386
@rajvaibhavdubey @tabesin if the issue is still up for grabs, then can I take it?

[2019-10-25 07:03] meets2tarun commented on #386
@Dishebh go for it

[2019-10-27 18:59] xeon-zolt commented on #386
we can use git submodule and use for this

[2019-11-08 12:10] #386 closed

[2019-11-08 12:11] tabesin commented on #439
I do not fully understand the description.

You mean URL instead of local file?

[2019-11-14 19:59] amansheaven commented on #80
I can work on a good presentation @meets2tarun. All I would need is a layout to work on.

[2019-11-17 12:28] pranav1698 commented on #439
Yes @tabesin, we can give an option to the users to add the URL of their hosted wallpaper, like imgur

[2019-11-18 12:50] meets2tarun commented on #80
@amansheaven
Go for it with your own layout.
Lemme know if you need any help.

[2019-11-18 13:12] xeon-zolt commented on #439
so you are thinking of downloading and then sending the image or simply sending link if sending link then you need to update the meilix script too

[2019-11-18 14:06] amansheaven commented on #80
Sure sir, I'll make some layout about the use of generator. Maybe you can help me with some facts and things which makes the generator stand out.
@meets2tarun

[2019-11-19 05:55] meets2tarun commented on #80
Generators special features are explicitly mention in the readme.
Do have a look.
You can come with a primitive model, then we can discuss what improvements we can make into it.
@amansheaven

[2019-12-14 13:43] amansheaven commented on #80
https://docs.google.com/presentation/d/1nJEBlQ7XT__CkvdqA8egI7Zt7DvtbYwb5ok7wX5Uiko/edit?usp=sharing

Sorry for so much of a delay (cause of my university exams), I started working on a user centric presentation please take a look and comment...

[2019-12-15 13:20] meets2tarun commented on #80
@amansheaven
Seems interesting,
curious to see more progress.

Good Luck!!

[2019-12-16 11:14] amansheaven commented on #80
Apart from the presentation, I think a animated small video with some toons at description would also look lucrative, In addition we can write description in a user friendly manner which can also appeal users. It's proven that a better presentation leads to people using/ trying out the product.
*guilty psychology fan*

After a basic ppt shall I work on the description?? @meets2tarun

[2019-12-16 11:20] xeon-zolt commented on #80
@amansheaven https://eventyay.com/e/423d0650 come to this event lets discuss more

[2019-12-16 11:23] amansheaven commented on #80
sure sir @xeon-zolt ill brew some samples too just in case you want to try them on...

[2019-12-18 09:37] hyPnOtICDo0g opened #447 "Not able to generate .iso from the webapp"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

I'm not able to generate the iso using the generator, it's giving this error - Sorry, unexpected error: str expected, not list

**Expected B

[2020-01-06 11:53] prezine opened #448 "issue with registration"
**I'm submitting a completely filled form**
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in our Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**

After filling and submitting the form, I got the error message printed on the screen.
`Sorry, unexpected error: str expected, not list`
**Expec

[2020-01-07 17:43] xeon-zolt commented on #448
can you tell what you filled in the form to reproduce the error,
iso building takes time form is to collect what you want inside the ISO (currently it's not much)

[2020-01-07 18:14] DiptoChakrabarty commented on #448
I am also encountering this issue , except browser configuration I have filled all details but still getting this error.

[2020-01-08 19:45] pranav1698 commented on #447
I have tested the app on my local system
And, also on my Heroku deployment
https://whispering-thicket-08661.herokuapp.com/ test it
Maybe there is some error in Heroku logs
Project managers can you review the logs

[2020-01-08 19:48] hyPnOtICDo0g commented on #447
Yeah it's working fine.
Thank you.

On Thu 9 Jan, 2020, 1:15 AM Pranav Kulshrestha, <notifications@github.com>
wrote:

[2020-01-09 06:35] xeon-zolt commented on #448
@prezine @DiptoChakrabarty please retest it older build with the bug was deployed on the server just fixed it

[2020-01-09 06:36] xeon-zolt commented on #447
@hyPnOtiC-d00g please retest it older build with the bug was deployed on the server just fixed it

@pranav1698 you can tag someone

[2020-01-09 06:43] hyPnOtICDo0g commented on #447
@xeon-zolt it was working fine yesterday, now it's giving an internal server error.

[2020-01-09 07:47] xeon-zolt commented on #447
@hyPnOtiC-d00g can you please provide me with steps to reproduce it?
as I don't see any errors on https://meilix.org/

[2020-01-09 08:06] hyPnOtICDo0g commented on #447
@xeon-zolt Oh well, https://meilix.org/ works fine, the link @pranav1698 sent had an internal server error.

[2020-01-09 08:09] xeon-zolt commented on #447
closing it then

[2020-01-09 08:09] #447 closed, assigned to nobody

[2020-01-09 08:13] xeon-zolt opened #449 "Language support"
**I'm submitting a ...**  (check one with "x")
- [ ] bug report
- [x] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

I would love if I can choose a default language too as most of the live ISO comes with English by default
and not everyone is sure how to change the language or h

[2020-01-14 17:48] #448 closed, assigned to nobody

[2020-07-17 07:30] xeon-zolt opened #450 "403 error when creating build"
**I'm submitting a ...**  (check one with "x")
- [x] bug report
- [ ] feature request
- [ ] support request => Please do not submit support requests here, instead ask your query in out Gitter channel at https://gitter.im/fossasia/meilix

**Actual Behaviour**
403 error on output page

**Expected Behaviour**
error with why or success when clicking build

**Steps to reproduce it**

only fill first 4

[2020-07-17 07:38] xeon-zolt commented on #450
https://github.com/fossasia/meilix-generator/blob/master/build.py

we get 403 from here when trying to trigger build on Travis CI

[2021-03-05 06:39] vijay938 commented on #280
I want to work on this issue